openapi: 3.2.0
info:
  title: Confluent Cloud Statements (sql/v1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: Statements (sql/v1)
  description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


    `Statement` represents a core resource used to model SQL statements for execution.

    A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session

    management or any higher-level functionality.

    The API allows you to list, create, read, and delete your statements.

    ## The Statements Model'
paths:
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements:
    servers:
    - url: https://flink.region.provider.confluent.cloud
      description: Flink Compute Pool Endpoint
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1Statements
      summary: List of Statements
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Retrieve a sorted, filtered, paginated list of all statements.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: spec.compute_pool_id
        in: query
        required: false
        schema:
          type: string
        example: lfcp-00000
        description: 'Filter the results by exact match for spec.compute_pool_id.

          When creating statements, if compute_pool_id is not specified, the statement will use the default compute pool. The default pool is automatically determined by the system.'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          maximum: 100
          x-max-page-items: 500
        description: A pagination size for collection requests.
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          maxLength: 255
        description: An opaque pagination token for collection requests.
      - name: label_selector
        in: query
        required: false
        schema:
          type: string
        style: form
        explode: false
        description: A comma-separated label selector to filter the statements.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '200':
          description: Statements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.StatementList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    post:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: createSqlv1Statement
      summary: Create a Statement
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to create a statement.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/sql.v1.Statement'
              - type: object
                required:
                - spec
                - name
                properties:
                  spec:
                    type: object
                    required:
                    - statement
      responses:
        '201':
          description: A Statement is being created.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{name}
              description: Statement resource uri
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1.Statement'
                - type: object
                  required:
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - statement_name
                      - statement
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{statement_name}:
    servers:
    - url: https://flink.region.provider.confluent.cloud
      description: Flink Compute Pool Endpoint
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1Statement
      summary: Read a Statement
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to read a statement.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: statement_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the statement.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '200':
          description: Statement.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1.Statement'
                - type: object
                  required:
                  - api_version
                  - kind
                  - metadata
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - statement_name
                      - statement
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: deleteSqlv1Statement
      summary: Delete a Statement
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to delete a statement.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: statement_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the statement.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '202':
          description: A Statement is being deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: updateSqlv1Statement
      summary: Update a Statement
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to update a statement.

        The request will fail with a 409 Conflict error if the Statement has changed since it was fetched.

        In this case, do a GET, reapply the modifications, and try the update again.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: statement_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the statement.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '202':
          description: A Statement is being updated.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/sql.v1.Statement'
              - type: object
                required:
                - spec
                - name
                - metadata
                properties:
                  spec:
                    type: object
                    required:
                    - stopped
                  metadata:
                    type: object
                    required:
                    - resource_version
    patch:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: patchSqlv1Statement
      summary: Patch a Statement
      description: '![Early Access](#section/Versioning/API-Lifecycle-Policy)


        Make a request to patch a statement.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: statement_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the statement.
      tags:
      - Statements (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
      responses:
        '200':
          description: Patched Statement.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1.Statement'
                - type: object
                  required:
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - statement_name
                      - statement
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
components:
  schemas:
    sql.v1.ScalingStatus:
      description: Scaling status for this statement.
      type: object
      properties:
        scaling_state:
          description: 'OK: The statement runs at the right scale.


            PENDING_SCALE_DOWN: The statement requires less resources, and will be scaled down in the near future.


            PENDING_SCALE_UP: The statement requires more resources, and will be scaled up in the near future.


            POOL_EXHAUSTED: The statement requires more resources, but not enough resources are available.

            '
          example: OK
          readOnly: true
          type: string
          x-extensible-enum:
          - OK
          - PENDING_SCALE_DOWN
          - PENDING_SCALE_UP
          - POOL_EXHAUSTED
        last_updated:
          description: The last time the scaling status was updated.
          example: 1996-03-19 01:02:03-04:05
          format: date-time
          readOnly: true
          type: string
      readOnly: true
    sql.v1.Statement:
      type: object
      description: '`Statement` represents a core resource used to model SQL statements for execution.

        A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session

        management or any higher-level functionality.

        The API allows you to list, create, read, and delete your statements.

        ## The Statements Model

        <SchemaDefinition schemaRef="#/components/schemas/sql.v1.Statement" />'
      properties:
        api_version:
          type: string
          enum:
          - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
          - Statement
          readOnly: true
        metadata:
          allOf:
          - $ref: '#/components/schemas/StatementObjectMeta'
          - properties:
              self:
                example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/statements/my-statement
              uid:
                example: 12345678-1234-1234-1234-123456789012
              resource_version:
                example: a23av
              resource_name:
                example: ''
              labels:
                type: object
                additionalProperties:
                  type: string
        name:
          type: string
          example: sql123
          description: The user provided name of the resource, unique within this environment.
          pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
          x-immutable: true
          maxLength: 100
        organization_id:
          type: string
          format: uuid
          description: The unique identifier for the organization.
          x-immutable: true
        environment_id:
          type: string
          description: The unique identifier for the environment.
          x-immutable: true
        spec:
          $ref: '#/components/schemas/sql.v1.StatementSpec'
        status:
          $ref: '#/components/schemas/sql.v1.StatementStatus'
        result:
          $ref: '#/components/schemas/sql.v1.StatementResult'
    sql.v1.StatementWarning:
      type: object
      description: Represents a non-fatal issue encountered during statement processing.
      required:
      - severity
      - created_at
      - reason
      - message
      properties:
        severity:
          $ref: '#/components/schemas/sql.v1.WarningSeverity'
        created_at:
          type: string
          format: date-time
          description: The timestamp when the warning was created. It is represented in RFC3339 format and is in UTC.
          example: '2025-11-10T16:20:00Z'
          readOnly: true
        reason:
          type: string
          description: A machine-readable short, upper case summary delimited by underscore.
          example: MISSING_WINDOW_START_END
        message:
          type: string
          description: A human-readable string containing the description of the warning.
          example: The statement is missing window start and end bounds which may lead to unbounded state growth.
    sql.v1.ScalingSpec:
      description: Mutable scaling configuration that can be updated for a running statement.
      type: object
      properties:
        baseline_cfu:
          type: integer
          format: int32
          description: 'The baseline number of Confluent Flink Units (CFUs) targeted for the statement.

            This is a best-effort target rather than a guarantee, and the statement may auto-scale above it.

            '
          example: 2
          minimum: 0
    PatchRequest:
      type: array
      description: PatchRequest represent a json-patch request to be applied to the Statement. See https://tools.ietf.org/html/rfc6902
      items:
        oneOf:
        - $ref: '#/components/schemas/JsonPatchRequestAddReplace'
        - $ref: '#/components/schemas/JsonPatchRequestRemove'
        - $ref: '#/components/schemas/JsonPatchRequestMoveCopy'
    sql.v1.StatementTraits:
      type: object
      description: StatementTraits contains detailed information about the properties of a Statement
      properties:
        sql_kind:
          type: string
          description: Categorizes the SQL statement. The result is Confluent-specific but inspired by SQL. It uses underscores for separating concepts e.g. "CREATE_TABLE".
          example: SELECT
        is_bounded:
          type: boolean
          description: Indicates the special case where results of a statement are bounded.
        is_append_only:
          type: boolean
          description: Indicates the special case where results of a statement are insert/append only.
        upsert_columns:
          type: array
          description: Defines the column indices clients can use as upsert keys.
          items:
            type: integer
        schema:
          $ref: '#/components/schemas/sql.v1.ResultSchema'
        connection_refs:
          type: array
          description: The names of connections that the SQL statement references (e.g., in FROM clauses).
          items:
            type: string
          example:
          - my-postgres-connection
          - my-kafka-connection
      readOnly: true
    Failure:
      type: object
      description: Provides information about problems encountered while performing an operation.
      required:
      - errors
      properties:
        errors:
          description: List of errors which caused this operation to fail
          type: array
          items:
            $ref: '#/components/schemas/Error'
          uniqueItems: true
    sql.v1.StatementResultResults:
      type: object
      description: A results property that contains a data property that contains an array of results.
      properties:
        data:
          type: array
          description: 'A data property that contains an array of results. Each entry in the array is a separate result.


            The value of `op` attribute (if present) represents the kind of change that a row can describe in a changelog:


            `0`: represents `INSERT` (`+I`), i.e. insertion operation;


            `1`: represents `UPDATE_BEFORE` (`-U`), i.e. update operation with the previous content of the updated row.

            This kind should occur together with `UPDATE_AFTER` for modelling an update that needs to retract

            the previous row first. It is useful in cases of a non-idempotent update, i.e., an update of a row that is not

            uniquely identifiable by a key;


            `2`: represents `UPDATE_AFTER` (`+U`), i.e. update operation with new content of the updated row;

            This kind CAN occur together with `UPDATE_BEFORE` for modelling an update that

            needs to retract the previous row first or it describes an idempotent update, i.e., an

            update of a row that is uniquely identifiable by a key;


            `3`: represents `DELETE` (`-D`), i.e. deletion operation;


            Defaults to `0`.

            '
          items: {}
          example:
          - op: 0
            row:
            - '101'
            - Jay
            - - null
              - abc
            - - null
              - '456'
            - 1990-01-12 12:00.12
            - - - null
                - Alice
              - - '42'
                - Bob
    JsonPatchRequestAddReplace:
      type: object
      description: This option is used to add or replace a value for a field
      additionalProperties: false
      required:
      - value
      - op
      - path
      properties:
        path:
          description: A JSON Pointer path.
          type: string
        value:
          description: The value to add, replace or test.
        op:
          description: The operation to perform.
          type: string
          enum:
          - ADD
          - REPLACE
          - TEST
    RowFieldType:
      type: object
      properties:
        name:
          type: string
          description: The name of the field.
        field_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The data type of the field.
        description:
          type: string
          description: The description of the field.
      required:
      - name
      - field_type
    sql.v1.StatementSpec:
      type: object
      description: The specs of the Statement
      properties:
        statement:
          type: string
          example: SELECT * FROM TABLE WHERE VALUE1 = VALUE2;
          description: The raw SQL text statement.
          x-immutable: true
          maxLength: 131072
        properties:
          type: object
          example:
            sql.current-catalog: my_environment
            sql.current-database: my_kafka_cluster
          description: A map (key-value pairs) of statement properties.
          additionalProperties:
            type: string
          maxProperties: 8192
        compute_pool_id:
          type: string
          example: fcp-00000
          description: "The id associated with the compute pool in context. \nIf not specified, the statement will use the default compute pool. The default pool is automatically determined by the system."
          maxLength: 255
        principal:
          type: string
          example: sa-abc123
          description: "The id of the principal this statement runs as. Possible values:\n\n  * `u-abc123` — user\n  * `sa-abc123` — service account\n  * `pool-abc123` — identity pool (OAuth caller authorized\n    against a single pool, either explicitly supplied or\n    resolved by the server)\n  * an identity CRN equal to `status.identity` (OAuth caller\n    authorized against multiple identity pools)\n\nCustomers typically supply one of the short prefixed ids and read\nthe same value back. The CRN form is server-set in the multi-pool\ncase; clients should accept it when reading but should not need\nto construct it.\n"
          maxLength: 1024
          x-immutable: true
        stopped:
          type: boolean
          description: Indicates whether the statement should be stopped.
          example: false
        execution_mode:
          type: string
          example: streaming
          description: 'The execution mode of the statement.


            Note - The attribute is in a [Early Access lifecycle](https://docs.confluent.io/cloud/current/api.html#section/Versioning/API-Lifecycle-Policy)

            '
          maxLength: 255
          readOnly: true
        scaling:
          $ref: '#/components/schemas/sql.v1.ScalingSpec'
      x-enable-listmeta: true
      x-enable-objectmeta: true
    sql.v1.StatementResult:
      type: object
      description: '`Statement Result` represents a resource used to model results of SQL statements.

        The API allows you to read your SQL statement result.'
      required:
      - api_version
      - kind
      - metadata
      - data
      properties:
        api_version:
          type: string
          enum:
          - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
          - StatementResult
        metadata:
          allOf:
          - $ref: '#/components/schemas/ResultListMeta'
        results:
          allOf:
          - $ref: '#/components/schemas/sql.v1.StatementResultResults'
    ResultListMeta:
      type: object
      description: ListMeta describes metadata that resource collections may have
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object can be addressed. This URL encodes the service location, API version, and other particulars necessary to locate the resource at a point in time
          type: string
          example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/statements
        next:
          description: A URL that can be followed to get the next batch of results.
          type: string
          example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-abc123/statements?page_token=UvmDWOB1iwfAIBPj6EYb
        created_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was created. It is represented in RFC3339 format and is in UTC.
    DataType:
      type: object
      properties:
        type:
          type: string
          description: The data type of the column.
        nullable:
          type: boolean
          description: Indicates whether values in this column can be null.
        length:
          type: integer
          format: int32
          description: The length of the data type.
        precision:
          type: integer
          format: int32
          description: The precision of the data type.
        scale:
          type: integer
          format: int32
          description: The scale of the data type.
        key_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the key in the data type (if applicable).
        value_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the value in the data type (if applicable).
        element_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the element in the data type (if applicable).
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RowFieldType'
          description: The fields of the element in the data type (if applicable).
        resolution:
          type: string
          description: The resolution of the data type (if applicable).
        fractional_precision:
          type: integer
          format: int32
          description: The fractional precision of the data type (if applicable).
        class_name:
          type: string
          description: The class name of the structured data type (if applicable).
      required:
      - type
      - nullable
    sql.v1.ResultSchema:
      type: object
      description: The table columns of the results schema.
      properties:
        columns:
          type: array
          description: The properties of each SQL column in the schema.
          items:
            $ref: '#/components/schemas/ColumnDetails'
    ColumnDetails:
      type: object
      description: A column in the results schema.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The name of the SQL table column.
          example: Column_Name
        type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: JSON object in TableSchema format; describes the data returned by the results serving API.
          example:
            type:
            - CHAR
            - 'null'
            length: 8
    sql.v1.StatementList:
      type: object
      description: '`Statement` represents a core resource used to model SQL statements for execution.

        A statement generalizes DDL, DML, DQL, etc., but doesn’t attempt to handle session

        management or any higher-level functionality.

        The API allows you to list, create, read, and delete your statements.

        ## The Statements Model

        <SchemaDefinition schemaRef="#/components/schemas/sql.v1.Statement" />'
      required:
      - api_version
      - kind
      - metadata
      - data
      properties:
        api_version:
          type: string
          enum:
          - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
          - StatementList
        metadata:
          allOf:
          - $ref: '#/components/schemas/ListMeta'
          - properties:
              self:
                example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/statements
              first:
                example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-abc123/statements
              last:
                example: ''
              prev:
                example: ''
              next:
                example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-abc123/statements?page_token=UvmDWOB1iwfAIBPj6EYb
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            allOf:
            - $ref: '#/components/schemas/sql.v1.Statement'
            - type: object
              required:
              - api_version
              - kind
              - metadata
              - spec
              - status
              - name
              - organization_id
              - environment_id
              properties:
                spec:
                  type: object
                  required:
                  - statement
          uniqueItems: true
    ListMeta:
      type: object
      description: ListMeta describes metadata that resource collections may have
      properties:
        first:
          description: A link to the first page of results. If a response does not contain a first link, then direct navigation to the first page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds
        last:
          description: A link to the last page of results. If a response does not contain a last link, then direct navigation to the last page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=bcAOehAY8F16YD84Z1wT
        prev:
          description: A link to the previous page of results. If a response does not contain a prev link, then either there is no previous data or backwards traversal through the result set is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=YIXRY97wWYmwzrax4dld
        next:
          description: A link to the next page of results. If a response does not contain a next link, then there is no more data available.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=UvmDWOB1iwfAIBPj6EYb
        total_size:
          description: Number of records in the full result set. This response may be paginated and have a smaller number of records.
          type: integer
          format: int32
          minimum: 0
          example: 123
    StatementObjectMeta:
      description: The metadata of the statement.
      required:
      - self
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object can be addressed. This URL encodes the service location, API version, and other particulars necessary to locate the resource at a point in time
          type: string
          format: uri
          example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/statements/my-statement
        created_at:
          type: string
          format: date-time
          example: '1996-03-19T01:02:03-04:05'
          description: The date and time at which this object was created. It is represented in RFC3339 format and is in UTC.
        updated_at:
          type: string
          format: date-time
          example: '2025-11-10T16:20:00Z'
          description: The date and time at which this object was last updated. It is represented in RFC3339 format and is in UTC.
        uid:
          type: string
          example: 12345678-1234-1234-1234-123456789012
          description: A system generated globally unique identifier for this resource.
        resource_version:
          type: string
          example: a23av
          description: A system generated string that uniquely identifies the version of this resource.
        labels:
          type: object
          description: A map of key-value pairs that describe the resource.
          additionalProperties:
            type: string
          example:
            user.confluent.io/hidden: 'true'
      readOnly: true
    sql.v1.WarningSeverity:
      type: string
      x-extensible-enum:
      - LOW
      - MODERATE
      - CRITICAL
      description: 'Indicates the severity of the warning.


        LOW: Indicates a low severity warning and for informing the user.


        MODERATE: Indicates a moderate severity warning and may require user action. Could cause degraded statements if certain conditions apply.


        CRITICAL: Indicates a critical severity warning and requires user action. It will cause degraded statements eventually.

        '
      example: MODERATE
    sql.v1.StatementStatus:
      type: object
      required:
      - phase
      description: The status of the Statement
      properties:
        phase:
          type: string
          x-extensible-enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - DELETING
          - FAILING
          - FAILED
          - STOPPING
          - STOPPED
          - DEGRADED
          description: 'The lifecycle phase of the submitted SQL statement:


            PENDING: SQL statement is pending execution;


            RUNNING: SQL statement execution is in progress;


            COMPLETED: SQL statement is completed;


            DELETING: SQL statement deletion is in progress;


            FAILING: SQL statement is failing;


            FAILED: SQL statement execution has failed;


            STOPPING: SQL statement is being stopped;


            STOPPED: SQL statement execution has successfully been stopped;


            DEGRADED: SQL statement is experiencing reduced performance or partial failure;

            '
          example: RUNNING
          readOnly: true
        scaling_status:
          $ref: '#/components/schemas/sql.v1.ScalingStatus'
        state_limit_status:
          $ref: '#/components/schemas/sql.v1.StateLimitStatus'
        detail:
          type: string
          description: Details about the execution status of this statement.
          example: Statement is running successfully
          readOnly: true
        warnings:
          type: array
          description: List of warnings encountered during statement execution.
          items:
            $ref: '#/components/schemas/sql.v1.StatementWarning'
          readOnly: true
        traits:
          $ref: '#/components/schemas/sql.v1.StatementTraits'
        network_kind:
          type: string
          x-extensible-enum:
          - PUBLIC
          - PRIVATE
          description: 'The networking type used by the submitted SQL statement:


            PUBLIC: SQL statement is using public networking;


            PRIVATE: SQL statement is using private networking;

            '
          example: PUBLIC
          readOnly: true
        latest_offsets:
          type: object
          additionalProperties:
            type: string
          description: 'The last Kafka offsets that a statement has processed. Represented by a mapping from Kafka topic to a

            string representation of partitions mapped to offsets.

            '
          example:
            topic-1: partition:0,offset:100;partition:1,offset:200
            topic-2: partition:0,offset:50
          readOnly: true
        latest_offsets_timestamp:
          type: string
          format: date-time
          example: '2025-11-10T16:20:00Z'
          description: The date and time at which the Kafka topic offsets were added to the statement status. It is represented in RFC3339 format and is in UTC.
          readOnly: true
        end_time:
          type: string
          format: date-time
          example: '2025-03-19T01:02:03-04:05'
          description: "The date and time in UTC (represented as RFC3339 format) at which the statement reached its final terminal state. \nThis field is set when the Phase is COMPLETED, FAILED, or STOPPED.\n\nNote - The attribute is in a [Early Access lifecycle](https://docs.confluent.io/cloud/current/api.html#section/Versioning/API-Lifecycle-Policy)\n"
        duration:
          type: string
          format: duration
          example: PT2H30M
          description: "The total elapsed time (represented as ISO 8601 format) from when the statement transitioned from \nPENDING to RUNNING until it reached a final terminal state. This field is calculated and set when \nthe Phase is COMPLETED, FAILED, or STOPPED.\n\nNote - The attribute is in a [Early Access lifecycle](https://docs.confluent.io/cloud/current/api.html#section/Versioning/API-Lifecycle-Policy)\n"
        affected_resource:
          type: object
          description: 'A reference to the resource created by this statement, if any. This field is set when a statement

            (e.g., CREATE MATERIALIZED TABLE) results in a new user-facing resource.


            Note - The attribute is in a [Early Access lifecycle](https://docs.confluent.io/cloud/current/api.html#section/Versioning/API-Lifecycle-Policy)

            '
          required:
          - kind
          - environment_id
          - resource_name
          properties:
            kind:
              type: string
              x-extensible-enum:
              - MATERIALIZED_TABLE
              description: The kind of resource that was created.
              example: MATERIALIZED_TABLE
            environment_id:
              type: string
              description: The unique identifier for the environment containing the resource.
              example: env-abc
            database_id:
              type: string
              description: 'The unique identifier for the database containing the resource.

                Only present for resource kinds that are scoped to a database.

                '
              example: lkc-123
            resource_name:
              type: string
              description: The name of the created resource, unique within its scope.
              example: my-materialized-table
        identity:
          type: string
          format: uri
          example: crn://confluent.cloud/organization=12345/identity-provider=op-12345/identity=alice@example.com
          description: "Optional, read-only. The CRN of the authenticated principal that\ncurrently owns this statement, sourced from the upstream\nauthentication decision. Initially populated when the statement\nis created and refreshed when `spec.principal` is updated, so it\nreflects the most recent setter rather than the original creator.\n\nTreat as a stable, opaque, non-parsable string for storage and\nmapping; do not implement business logic or branching based on\nthe identity type or string structure. The set of identity\nshapes may grow over time and is not considered breaking.\n\nThe `example` above illustrates the OAuth (identity-provider)\nshape. Set for all supported authentication methods; the CRN\nshape varies by auth type:\n\n  * User: `crn://confluent.cloud/organization=12345/user=u-abc123`\n  * Service account: `crn://confluent.cloud/organization=12345/service-account=sa-abc123`\n  * OAuth (identity provider): `crn://confluent.cloud/organization=12345/identity-provider=op-12345/identity=alice@example.com`\n\nFor the OAuth shape, the value after `identity=` is the JWT\nclaim resolved by the identity provider's configured\n`identity_claim` (or the identity pool's `identity_claim` when\na single pool is in scope) — commonly `claims.sub`, but\nprovider-configurable. The email shown above is just one\nexample; the actual value depends on the identity provider\nconfiguration and may be a subject UUID, a username, or any\nother opaque claim value.\n\nWhen the request was authenticated via OAuth and authorized\nagainst multiple identity pools, this CRN also appears as\n`spec.principal`. May be omitted for statements created before\nthis field was introduced.\n"
          maxLength: 1024
          readOnly: true
      readOnly: true
    JsonPatchRequestRemove:
      type: object
      description: This option is used to remove a field
      additionalProperties: false
      required:
      - op
      - path
      properties:
        path:
          description: A JSON Pointer path.
          type: string
        op:
          description: The operation to perform.
          type: string
          enum:
          - REMOVE
    sql.v1.StateLimitStatus:
      description: State limit status for this statement.
      properties:
        state_limit_state:
          description: 'OK: The statement is within state limits.


            APPROACHING_SOFT_LIMIT: The statement is approaching soft state limits.


            EXCEEDING_SOFT_LIMIT: The statement is exceeding soft state limits.


            APPROACHING_HARD_LIMIT: The statement is approaching hard state limits.


            EXCEEDING_HARD_LIMIT: The statement is exceeding hard state limits.

            '
          example: OK
          readOnly: true
          type: string
          x-extensible-enum:
          - OK
          - APPROACHING_SOFT_LIMIT
          - EXCEEDING_SOFT_LIMIT
          - APPROACHING_HARD_LIMIT
          - EXCEEDING_HARD_LIMIT
        last_updated:
          description: The last time the state limit status was updated.
          example: 1996-03-19 01:02:03-04:05
          format: date-time
          readOnly: true
          type: string
        detail:
          description: Details about why state limit status is in its current state.
          example: The statement is within state limits.
          type: string
          readOnly: true
      readOnly: true
      type: object
    JsonPatchRequestMoveCopy:
      type: object
      description: This option is used to move or copy a field
      additionalProperties: false
      required:
      - from
      - op
      - path
      properties:
        path:
          description: A JSON Pointer path.
          type: string
        op:
          description: The operation to perform.
          type: string
          enum:
          - MOVE
          - COPY
        from:
          description: A JSON Pointer path.
          type: string
    Error:
      type: object
      description: Describes a particular error encountered while performing an operation.
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
          maxLength: 255
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          description: If this error was caused by a particular part of the API request, the source will point to the query string parameter or request body property that caused it.
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/spec" for a spec object, or "/spec/title" for a specific field].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        error_code:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
  responses:
    ConflictError:
      x-summary: Conflict
      description: The request is in conflict with the current server state
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        Location:
          schema:
            type: string
            format: uri
            example: https://api.confluent.cloud/{object}/{id}
          description: Resource URI of conflicting resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '409'
              code: resource_already_exists
              title: Resource Already exists
              detail: The entitlement '91e3e86f-fca6-4f14-98f5-a48e64113ce2' already exists.
    UnauthorizedError:
      x-summary: Forbidden
      description: The access credentials were considered insufficient to grant access
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '403'
              code: user_unauthorized
              title: User Access Unauthorized
              detail: The user 'mcfly' is not allowed to access the 'delorean' resource without the 'plutonium' role.
    RateLimitError:
      description: Rate Limit Exceeded
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The maximum number of requests you're permitted to make per time period.
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: The number of requests remaining in the current rate limit window.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        Retry-After:
          schema:
            type: integer
          description: The number of seconds to wait until the rate limit window resets. Only sent when the rate limit is reached.
    UnauthenticatedError:
      x-summary: Unauthorized
      description: The request lacks valid authentication credentials for this resource.
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        WWW-Authenticate:
          schema:
            type: string
          description: The unique identifier for the API request.
          example: Basic error="invalid_key", error_description="The API Key is invalid"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '401'
              code: user_unauthenticated
              title: Authentication Required
              detail: Valid authentication credentials must be provided
    DefaultSystemError:
      description: Oops, something went wrong!
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '500'
              code: out_of_gas
              title: DeLorean Out Of Gas
              detail: The DeLorean has run out of gas, but Doc Brown will fill 'er up for you asap
    NotFoundError:
      description: Not Found
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '404'
              title: Not Found
    BadRequestError:
      description: Bad Request
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '400'
              code: invalid_filter
              title: Invalid Filter
              detail: The 'delorean' resource can't be filtered by 'num_doors'
              source:
                parameter: num_doors
    ValidationError:
      description: Validation Failed
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
