openapi: 3.2.0
info:
  title: Confluent Cloud Search (v1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: search V1
  description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


    The API allows you to search for entities.


    Related guide: Catalog API Documentation.'
paths:
  /catalog/v1/search/attribute:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    get:
      summary: Search by Attribute
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Retrieve data for the specified attribute search query.'
      operationId: searchUsingAttribute
      parameters:
      - name: type
        in: query
        description: Limit the result to only entities of specified types
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: attr
        in: query
        description: One of more additional attributes to return in the response
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: attrName
        in: query
        description: The attribute to search
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: attrValuePrefix
        in: query
        description: The prefix for the attribute value to search
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tag
        in: query
        description: Limit the result to only entities tagged with the given tag
        schema:
          type: string
      - name: sortBy
        in: query
        description: An attribute to sort by
        schema:
          type: string
      - name: sortOrder
        in: query
        description: Sort order, either ASCENDING (default) or DESCENDING
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: deleted
        in: query
        description: Whether to include deleted entities
        schema:
          type: boolean
      - name: limit
        in: query
        description: Limit the result set to only include the specified number of entries
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Start offset of the result set (useful for pagination)
        schema:
          type: integer
          format: int32
      tags:
      - search V1
      responses:
        '200':
          description: On successful search query with some results, might return an empty list if execution succeeded without any results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Invalid wildcard or query parameters
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
  /catalog/v1/search/basic:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    get:
      summary: Search by Fulltext Query
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Retrieve data for the specified fulltext query.'
      operationId: searchUsingBasic
      parameters:
      - name: query
        in: query
        description: The full-text query
        schema:
          type: string
      - name: type
        in: query
        description: Limit the result to only entities of specified types
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: attr
        in: query
        description: One of more additional attributes to return in the response
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tag
        in: query
        description: Limit the result to only entities tagged with the given tag
        schema:
          type: string
      - name: sortBy
        in: query
        description: An attribute to sort by
        schema:
          type: string
      - name: sortOrder
        in: query
        description: Sort order, either ASCENDING (default) or DESCENDING
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: deleted
        in: query
        description: Whether to include deleted entities
        schema:
          type: boolean
      - name: limit
        in: query
        description: Limit the result set to only include the specified number of entries
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Start offset of the result set (useful for pagination)
        schema:
          type: integer
          format: int32
      tags:
      - search V1
      responses:
        '200':
          description: On successful fulltext query with some results, might return an empty list if execution succeeded without any results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Invalid fulltext or query parameters
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
components:
  schemas:
    EntityHeader:
      type: object
      properties:
        typeName:
          type: string
          description: The type name
        attributes:
          type: object
          description: The attributes
          additionalProperties: true
        guid:
          type: string
          description: The internal guid
        status:
          type: string
          description: The status
          enum:
          - ACTIVE
          - DELETED
          - PURGED
        displayText:
          type: string
          description: The display text
        classificationNames:
          type: array
          description: The classification (tag) names
          items:
            type: string
        classifications:
          type: array
          description: The classifications (tags)
          items:
            $ref: '#/components/schemas/Classification'
        meaningNames:
          type: array
          description: The meaning names
          items:
            type: string
        meanings:
          type: array
          description: The meanings
          items:
            $ref: '#/components/schemas/TermAssignmentHeader'
        isIncomplete:
          type: boolean
          description: Whether is incomplete
        labels:
          uniqueItems: true
          type: array
          description: The labels
          items:
            type: string
    SearchResult:
      type: object
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParams'
        types:
          type: array
          description: The types
          items:
            type: string
        entities:
          type: array
          description: The entities
          items:
            $ref: '#/components/schemas/EntityHeader'
        referredEntities:
          type: object
          description: The referred entities
          additionalProperties:
            $ref: '#/components/schemas/EntityHeader'
    TimeBoundary:
      type: object
      properties:
        startTime:
          type: string
          description: The start time of format yyyy/MM/dd HH:mm:ss
        endTime:
          type: string
          description: The end time of format yyyy/MM/dd HH:mm:ss
        timeZone:
          type: string
          description: The time zone (see java.util.TimeZone)
    Classification:
      type: object
      properties:
        typeName:
          type: string
          description: The tag name
        attributes:
          type: object
          description: The tag attributes
          additionalProperties:
            type: object
        entityGuid:
          type: string
          description: The internal entity guid
        entityStatus:
          type: string
          description: The entity status
          enum:
          - ACTIVE
          - DELETED
          - PURGED
        propagate:
          type: boolean
          description: Whether to propagate the tag
        validityPeriods:
          type: array
          description: The validity periods
          items:
            $ref: '#/components/schemas/TimeBoundary'
        removePropagationsOnEntityDelete:
          type: boolean
          description: Whether to remove propagations on entity delete
    TermAssignmentHeader:
      type: object
      properties:
        termGuid:
          type: string
          description: The term guid
        relationGuid:
          type: string
          description: The relation guid
        description:
          type: string
          description: The description
        displayText:
          type: string
          description: The display text
        expression:
          type: string
          description: The expression
        createdBy:
          type: string
          description: The creator
        steward:
          type: string
          description: The steward
        source:
          type: string
          description: The source
        confidence:
          type: integer
          description: The confidence
          format: int32
        status:
          type: string
          description: The status
          enum:
          - DISCOVERED
          - PROPOSED
          - IMPORTED
          - VALIDATED
          - DEPRECATED
          - OBSOLETE
          - OTHER
    SearchParams:
      type: object
      description: Search paramas to filter results
      properties:
        includeDeleted:
          type: boolean
          description: Whether to include deleted
        limit:
          type: integer
          description: The limit
          format: int32
        offset:
          type: integer
          description: The offset
          format: int32
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
