openapi: 3.2.0
info:
  title: Confluent Cloud Materialized Tables (sql/v1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: Materialized Tables (sql/v1)
  description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


    `MaterializedTable` represents a core resource used to define and manage streaming SQL queries that persist results.

    The API allows you to list, create, read, update, and delete your materialized tables.

    ## The Materialized Table Model'
paths:
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/materialized-tables:
    servers:
    - url: https://flink.region.provider.confluent.cloud
      description: Flink Compute Pool Endpoint
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1MaterializedTables
      summary: List all materialized tables
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Retrieve a sorted and paginated list of all materialized tables.'
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          format: uuid
        required: true
        description: The unique identifier for the organization.
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 100
        description: A pagination size for collection requests.
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          maxLength: 255
        description: An opaque pagination token for collection requests.
      tags:
      - Materialized Tables (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '200':
          description: A list of Materialized Tables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTableList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables:
    servers:
    - url: https://flink.region.provider.confluent.cloud
      description: Flink Compute Pool Endpoint
    post:
      x-lifecycle-stage: General Availability
      operationId: createSqlv1MaterializedTable
      summary: Create a materialized table
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Create a new Materialized Table.'
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
          format: uuid
        description: The unique identifier for the organization
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - in: path
        name: kafka_cluster_id
        required: true
        schema:
          type: string
        description: The unique identifier for the database.
      tags:
      - Materialized Tables (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/sql.v1.MaterializedTable'
              - type: object
                required:
                - name
                - spec
                properties:
                  spec:
                    type: object
                    required:
                    - query
                    - kafka_cluster_id
      responses:
        '201':
          description: Materialized Table is being created
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}
              description: Materialized Table uri
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sql.v1.MaterializedTable'
                - type: object
                  required:
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - query
                      - compute_pool_id
                      - principal
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  ? /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}
  : servers:
    - url: https://flink.region.provider.confluent.cloud
      description: Flink Compute Pool Endpoint
    get:
      x-lifecycle-stage: General Availability
      operationId: getSqlv1MaterializedTable
      summary: Read a materialized table
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Retrieve a specific Materialized Table by name.'
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
          format: uuid
        description: The unique identifier for the organization
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - in: path
        name: kafka_cluster_id
        required: true
        schema:
          type: string
        description: The unique identifier for the database.
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the Materialized Table
      tags:
      - Materialized Tables (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '200':
          description: The requested Materialized Table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTable'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: General Availability
      operationId: updateSqlv1MaterializedTable
      summary: Update/Evolve a materialized table
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to update a Materialized Table''s mutable fields.

        Mutable fields include: `query`, `stopped`, `compute_pool_id`, `principal`, `columns`, `watermark`, `constraints` and `table_options`.'
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
          format: uuid
        description: The unique identifier for the organization
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - in: path
        name: kafka_cluster_id
        required: true
        schema:
          type: string
        description: The unique identifier for the database.
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the Materialized Table
      tags:
      - Materialized Tables (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      requestBody:
        description: The Materialized Table resource with updated spec fields.
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/sql.v1.MaterializedTable'
              - type: object
                required:
                - spec
                - name
                - metadata
                properties:
                  spec:
                    type: object
                    required:
                    - kafka_cluster_id
                  metadata:
                    type: object
                    required:
                    - resource_version
      responses:
        '200':
          description: Materialized Table update accepted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTable'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: General Availability
      operationId: deleteSqlv1MaterializedTable
      summary: Delete a materialized table
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Delete a specific Materialized Table by name.'
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
          format: uuid
        description: The unique identifier for the organization
      - in: path
        name: environment_id
        required: true
        schema:
          type: string
        description: The unique identifier for the environment.
      - in: path
        name: kafka_cluster_id
        required: true
        schema:
          type: string
        description: The unique identifier for the database.
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the Materialized Table
      tags:
      - Materialized Tables (sql/v1)
      security:
      - resource-api-key: []
      - global-api-key: []
      - external-access-token: []
      responses:
        '202':
          description: A Materialized Table is being deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
components:
  schemas:
    sql.v1.Distribution:
      type: object
      description: Distribution (bucket by) strategy.
      required:
      - kind
      properties:
        kind:
          type: string
          x-extensible-enum:
          - HASH
          description: The kind of distribution.
          example: HASH
        keys:
          type: array
          items:
            type: string
          example:
          - user_id
        bucket_count:
          type: integer
          format: int32
          minimum: 1
          default: 6
          description: The number of buckets.
          example: 12
    sql.v1.ColumnDetails:
      type: object
      description: Details of a column in the Materialized Table.
      discriminator:
        propertyName: kind
        mapping:
          Physical: '#/components/schemas/sql.v1.PhysicalColumn'
          Metadata: '#/components/schemas/sql.v1.MetadataColumn'
          Computed: '#/components/schemas/sql.v1.ComputedColumn'
      oneOf:
      - $ref: '#/components/schemas/sql.v1.PhysicalColumn'
      - $ref: '#/components/schemas/sql.v1.MetadataColumn'
      - $ref: '#/components/schemas/sql.v1.ComputedColumn'
    sql.v1.ScalingStatus:
      description: Scaling status for this statement.
      type: object
      properties:
        scaling_state:
          description: 'OK: The statement runs at the right scale.


            PENDING_SCALE_DOWN: The statement requires less resources, and will be scaled down in the near future.


            PENDING_SCALE_UP: The statement requires more resources, and will be scaled up in the near future.


            POOL_EXHAUSTED: The statement requires more resources, but not enough resources are available.

            '
          example: OK
          readOnly: true
          type: string
          x-extensible-enum:
          - OK
          - PENDING_SCALE_DOWN
          - PENDING_SCALE_UP
          - POOL_EXHAUSTED
        last_updated:
          description: The last time the scaling status was updated.
          example: 1996-03-19 01:02:03-04:05
          format: date-time
          readOnly: true
          type: string
      readOnly: true
    sql.v1.StatementWarning:
      type: object
      description: Represents a non-fatal issue encountered during statement processing.
      required:
      - severity
      - created_at
      - reason
      - message
      properties:
        severity:
          $ref: '#/components/schemas/sql.v1.WarningSeverity'
        created_at:
          type: string
          format: date-time
          description: The timestamp when the warning was created. It is represented in RFC3339 format and is in UTC.
          example: '2025-11-10T16:20:00Z'
          readOnly: true
        reason:
          type: string
          description: A machine-readable short, upper case summary delimited by underscore.
          example: MISSING_WINDOW_START_END
        message:
          type: string
          description: A human-readable string containing the description of the warning.
          example: The statement is missing window start and end bounds which may lead to unbounded state growth.
    ObjectMeta:
      description: ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.
      required:
      - self
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object can be addressed. This URL encodes the service location, API version, and other particulars necessary to locate the resource at a point in time
          type: string
          format: uri
          readOnly: true
          example: https://api.confluent.cloud/v2/kafka-clusters/lkc-f3a90de
        resource_name:
          description: Resource Name is a Uniform Resource Identifier (URI) that is globally unique across space and time. It is represented as a Confluent Resource Name
          type: string
          format: uri
          readOnly: true
          example: crn://confluent.cloud/kafka=lkc-f3a90de
        created_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was created. It is represented in RFC3339 format and is in UTC.
        updated_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was last updated. It is represented in RFC3339 format and is in UTC.
        deleted_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was (or will be) deleted. It is represented in RFC3339 format and is in UTC.
      readOnly: true
    sql.v1.Constraint:
      type: object
      description: A constraint on the materialized table.
      properties:
        name:
          type: string
          example: pk_orders
        type:
          type: string
          x-extensible-enum:
          - PRIMARY_KEY
          description: The type of constraint.
          example: PRIMARY_KEY
        columns:
          type: array
          items:
            type: string
          example:
          - user_id
          - product_id
        enforced:
          type: boolean
          description: Whether the constraint is enforced.
          default: false
    sql.v1.Watermark:
      type: object
      description: Watermark strategy for the Materialized Table resource.
      properties:
        column:
          type: string
          example: event_timestamp
        expression:
          type: string
          example: event_timestamp - INTERVAL '5' SECOND
    sql.v1.MaterializedTableStatus:
      type: object
      description: The status of the Materialized Table.
      properties:
        phase:
          type: string
          x-extensible-enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - DELETING
          - FAILING
          - FAILED
          - CREATING
          - ALTERING
          - DEGRADED
          - STOPPING
          - STOPPED
          description: The lifecycle phase of the materialized table.
          example: RUNNING
        detail:
          type: string
          description: Optional. Human-readable description of phase.
          example: Materialized table is running.
        warnings:
          type: array
          description: List of warnings encountered during materialized table execution.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTableWarning'
        creation_statement:
          type: string
          description: Entire Materialized Table statement as submitted by user e.g CREATE OR ALTER MATERIALIZED TABLE ...
          example: CREATE OR ALTER MATERIALIZED TABLE high-value-orders AS SELECT user_id, product_id, price, quantity FROM orders WHERE price > 1000;
        scaling_status:
          $ref: '#/components/schemas/sql.v1.ScalingStatus'
        version:
          type: integer
          format: int32
          minimum: 1
          description: Represents the evolution history of the Materialized Table. The current value indicates the latest version.
          example: 3
        latest_version:
          type: integer
          format: int32
          minimum: 1
          description: Represents the latest submitted version of the Materialized Table. When a query evolution is accepted, `latest_version` is incremented immediately and will be greater than `version` until the new query is fully activated.
          example: 4
    Failure:
      type: object
      description: Provides information about problems encountered while performing an operation.
      required:
      - errors
      properties:
        errors:
          description: List of errors which caused this operation to fail
          type: array
          items:
            $ref: '#/components/schemas/Error'
          uniqueItems: true
    RowFieldType:
      type: object
      properties:
        name:
          type: string
          description: The name of the field.
        field_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The data type of the field.
        description:
          type: string
          description: The description of the field.
      required:
      - name
      - field_type
    DataType:
      type: object
      properties:
        type:
          type: string
          description: The data type of the column.
        nullable:
          type: boolean
          description: Indicates whether values in this column can be null.
        length:
          type: integer
          format: int32
          description: The length of the data type.
        precision:
          type: integer
          format: int32
          description: The precision of the data type.
        scale:
          type: integer
          format: int32
          description: The scale of the data type.
        key_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the key in the data type (if applicable).
        value_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the value in the data type (if applicable).
        element_type:
          allOf:
          - $ref: '#/components/schemas/DataType'
          description: The type of the element in the data type (if applicable).
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RowFieldType'
          description: The fields of the element in the data type (if applicable).
        resolution:
          type: string
          description: The resolution of the data type (if applicable).
        fractional_precision:
          type: integer
          format: int32
          description: The fractional precision of the data type (if applicable).
        class_name:
          type: string
          description: The class name of the structured data type (if applicable).
      required:
      - type
      - nullable
    sql.v1.MaterializedTableList:
      type: object
      description: A list of Materialized Table resources.
      required:
      - api_version
      - kind
      - metadata
      - data
      properties:
        api_version:
          type: string
          enum:
          - sql/v1
          readOnly: true
        kind:
          type: string
          enum:
          - MaterializedTableList
          readOnly: true
        metadata:
          $ref: '#/components/schemas/ListMeta'
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTable'
          uniqueItems: true
    sql.v1.MetadataColumn:
      description: Metadata columns reference system properties.
      allOf:
      - $ref: '#/components/schemas/sql.v1.ColumnCommon'
      - type: object
        required:
        - kind
        - metadata_key
        properties:
          name:
            example: table_offset
          type:
            example:
              type: BIGINT
          kind:
            type: string
            description: The kind of column.
            enum:
            - Metadata
            example: Metadata
          metadata_key:
            type: string
            description: The system metadata key to reference.
            example: offset
          virtual:
            type: boolean
            description: Indicates if the metadata column is virtual.
            default: false
            example: true
    sql.v1.MaterializedTable:
      type: object
      description: Represents a Materialized Table resource.
      required:
      - api_version
      - kind
      - metadata
      - name
      - organization_id
      - environment_id
      - spec
      properties:
        api_version:
          type: string
          enum:
          - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
          - MaterializedTable
          readOnly: true
        metadata:
          allOf:
          - $ref: '#/components/schemas/ObjectMeta'
          - type: object
            properties:
              self:
                example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/databases/lkc-123/materialized-tables/high-value-orders
              uid:
                example: 12345678-1234-1234-1234-123456789012
              resource_version:
                example: a23av
              resource_name:
                example: ''
              labels:
                type: object
                additionalProperties:
                  type: string
        name:
          type: string
          description: The user-provided name of the resource, unique within the Kafka cluster. May contain ASCII alphanumerics, '.', '_' and '-'; must not be '.' or '..'; max length 249.
          pattern: ^[a-zA-Z0-9._-]+$
          maxLength: 249
          example: high-value-orders
          x-immutable: true
        organization_id:
          type: string
          format: uuid
          description: The unique identifier for the organization.
          x-immutable: true
          readOnly: true
        environment_id:
          type: string
          description: The unique identifier for the environment.
          x-immutable: true
          readOnly: true
        spec:
          $ref: '#/components/schemas/sql.v1.MaterializedTableSpec'
        status:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/sql.v1.MaterializedTableStatus'
    ListMeta:
      type: object
      description: ListMeta describes metadata that resource collections may have
      properties:
        first:
          description: A link to the first page of results. If a response does not contain a first link, then direct navigation to the first page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds
        last:
          description: A link to the last page of results. If a response does not contain a last link, then direct navigation to the last page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=bcAOehAY8F16YD84Z1wT
        prev:
          description: A link to the previous page of results. If a response does not contain a prev link, then either there is no previous data or backwards traversal through the result set is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=YIXRY97wWYmwzrax4dld
        next:
          description: A link to the next page of results. If a response does not contain a next link, then there is no more data available.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=UvmDWOB1iwfAIBPj6EYb
        total_size:
          description: Number of records in the full result set. This response may be paginated and have a smaller number of records.
          type: integer
          format: int32
          minimum: 0
          example: 123
    sql.v1.WarningSeverity:
      type: string
      x-extensible-enum:
      - LOW
      - MODERATE
      - CRITICAL
      description: 'Indicates the severity of the warning.


        LOW: Indicates a low severity warning and for informing the user.


        MODERATE: Indicates a moderate severity warning and may require user action. Could cause degraded statements if certain conditions apply.


        CRITICAL: Indicates a critical severity warning and requires user action. It will cause degraded statements eventually.

        '
      example: MODERATE
    sql.v1.PhysicalColumn:
      description: Physical columns define the structure of the table and the data types of its fields.
      allOf:
      - $ref: '#/components/schemas/sql.v1.ColumnCommon'
      - type: object
        required:
        - kind
        properties:
          name:
            example: user_id
          type:
            example:
              type: BIGINT
          kind:
            type: string
            description: The kind of column.
            enum:
            - Physical
            example: Physical
    sql.v1.MaterializedTableSpec:
      type: object
      description: The specifications of the Materialized Table.
      properties:
        kafka_cluster_id:
          type: string
          description: 'The ID of the Kafka cluster hosting the Materialized Table''s topic.

            This value must match the `kafka_cluster_id` path parameter.

            It is immutable after creation and is ignored or rejected on update if changed.'
          example: lkc-12345
          x-immutable: true
        compute_pool_id:
          type: string
          description: 'The id associated with the compute pool in context.

            If not specified, the materialized table will use the default compute pool. The default pool is automatically determined by the system.'
          example: lfcp-123
        principal:
          type: string
          description: The id of a principal this Materialized Table query runs as.
          example: sa-abc123
          maxLength: 255
        stopped:
          type: boolean
          description: Indicates whether the Materialized Table query should be stopped.
          example: false
        table_options:
          type: object
          description: Defines configuration properties for the table, equivalent to the SQL 'WITH' clause
          additionalProperties:
            type: string
          maxProperties: 8192
        session_options:
          type: object
          description: Session configurations equivalent to the SQL 'SET' statement. Only applicable on creation; ignored on update.
          additionalProperties:
            type: string
          maxProperties: 8192
          x-immutable: true
        columns:
          type: array
          description: Details of each column in Materialized Table resource. If columns are not specified, we infer from query. If it's specified it must be compatible with the types in the query.
          items:
            $ref: '#/components/schemas/sql.v1.ColumnDetails'
        watermark:
          $ref: '#/components/schemas/sql.v1.Watermark'
        constraints:
          type: array
          description: Specify table constraints.
          items:
            $ref: '#/components/schemas/sql.v1.Constraint'
        distribution:
          description: Only applicable on creation; ignored on update.
          x-immutable: true
          allOf:
          - $ref: '#/components/schemas/sql.v1.Distribution'
        query:
          type: string
          description: Contains the query section (usually starting with a SELECT) of the latest Materialized Table.
          example: SELECT user_id, product_id, price, quantity FROM orders WHERE price > 1000;
          maxLength: 131072
    Error:
      type: object
      description: Describes a particular error encountered while performing an operation.
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
          maxLength: 255
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          description: If this error was caused by a particular part of the API request, the source will point to the query string parameter or request body property that caused it.
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/spec" for a spec object, or "/spec/title" for a specific field].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        error_code:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    sql.v1.ComputedColumn:
      description: Computed columns are generated via an expression.
      allOf:
      - $ref: '#/components/schemas/sql.v1.ColumnCommon'
      - type: object
        required:
        - kind
        - expression
        properties:
          name:
            example: total_price
          type:
            example:
              type: DECIMAL
              precision: 10
              scale: 2
          kind:
            type: string
            description: The kind of column.
            enum:
            - Computed
            example: Computed
          expression:
            type: string
            description: The SQL expression used to compute the column value.
            example: quantity * price
          virtual:
            type: boolean
            description: Indicates if the computed column is virtual.
            default: false
            example: true
    sql.v1.MaterializedTableWarning:
      type: object
      description: Represents a non-fatal issue encountered during materialized table processing.
      allOf:
      - $ref: '#/components/schemas/sql.v1.StatementWarning'
    sql.v1.ColumnCommon:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The name of the column.
        type:
          $ref: '#/components/schemas/DataType'
        comment:
          type: string
          description: A comment or description for the column.
  responses:
    ConflictError:
      x-summary: Conflict
      description: The request is in conflict with the current server state
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        Location:
          schema:
            type: string
            format: uri
            example: https://api.confluent.cloud/{object}/{id}
          description: Resource URI of conflicting resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '409'
              code: resource_already_exists
              title: Resource Already exists
              detail: The entitlement '91e3e86f-fca6-4f14-98f5-a48e64113ce2' already exists.
    UnauthorizedError:
      x-summary: Forbidden
      description: The access credentials were considered insufficient to grant access
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '403'
              code: user_unauthorized
              title: User Access Unauthorized
              detail: The user 'mcfly' is not allowed to access the 'delorean' resource without the 'plutonium' role.
    RateLimitError:
      description: Rate Limit Exceeded
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The maximum number of requests you're permitted to make per time period.
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: The number of requests remaining in the current rate limit window.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        Retry-After:
          schema:
            type: integer
          description: The number of seconds to wait until the rate limit window resets. Only sent when the rate limit is reached.
    UnauthenticatedError:
      x-summary: Unauthorized
      description: The request lacks valid authentication credentials for this resource.
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        WWW-Authenticate:
          schema:
            type: string
          description: The unique identifier for the API request.
          example: Basic error="invalid_key", error_description="The API Key is invalid"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '401'
              code: user_unauthenticated
              title: Authentication Required
              detail: Valid authentication credentials must be provided
    DefaultSystemError:
      description: Oops, something went wrong!
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '500'
              code: out_of_gas
              title: DeLorean Out Of Gas
              detail: The DeLorean has run out of gas, but Doc Brown will fill 'er up for you asap
    NotFoundError:
      description: Not Found
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '404'
              title: Not Found
    BadRequestError:
      description: Bad Request
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '400'
              code: invalid_filter
              title: Invalid Filter
              detail: The 'delorean' resource can't be filtered by 'num_doors'
              source:
                parameter: num_doors
    ValidationError:
      description: Validation Failed
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
