openapi: 3.2.0
info:
  title: Confluent Cloud Access Points (networking/v1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: Access Points (networking/v1)
  description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


    AccessPoint objects represent network connections in and out of Gateways.

    This API allows you to list, create, read, update, and delete your access points.


    ## The Access Points Model'
paths:
  /networking/v1/access-points:
    x-lifecycle-stage: General Availability
    x-self-access: true
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      operationId: listNetworkingV1AccessPoints
      summary: List of Access Points
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Retrieve a sorted, filtered, paginated list of all access points.'
      parameters:
      - name: spec.display_name
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MultipleSearchFilter'
        example:
        - prod-ap-egress-use1
        - prod-ap-egress-usw2
        description: Filter the results by exact match for spec.display_name. Pass multiple times to see results matching any of the values.
        style: form
        explode: true
      - name: environment
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/SearchFilter'
        example: env-00000
        description: Filter the results by exact match for environment.
      - name: spec.gateway
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MultipleSearchFilter'
        example:
        - gw-00000
        - gw-00001
        description: Filter the results by exact match for spec.gateway. Pass multiple times to see results matching any of the values.
        style: form
        explode: true
      - name: id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MultipleSearchFilter'
        example:
        - ap-1
        - ap-2
        description: Filter the results by exact match for id. Pass multiple times to see results matching any of the values.
        style: form
        explode: true
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          maximum: 100
          x-max-page-items: 500
        description: A pagination size for collection requests.
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          maxLength: 255
        description: An opaque pagination token for collection requests.
      tags:
      - Access Points (networking/v1)
      security:
      - cloud-api-key: []
      - confluent-sts-access-token: []
      responses:
        '200':
          description: Access Point.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/networking.v1.AccessPointList'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        properties:
                          spec:
                            type: object
                            properties:
                              environment:
                                example:
                                  id: env-00000
                                  related: https://api.confluent.cloud/v2/environments/env-00000
                                  resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-00000
                              gateway:
                                example:
                                  id: gw-00000
                                  related: https://api.confluent.cloud/networking/v1/gateways/gw-00000
                                  resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-abc123/gateway=gw-00000
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests you're permitted to make per time period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    post:
      x-lifecycle-stage: General Availability
      x-self-access: true
      operationId: createNetworkingV1AccessPoint
      summary: Create an Access Point
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to create an access point.'
      tags:
      - Access Points (networking/v1)
      security:
      - cloud-api-key: []
      - confluent-sts-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/networking.v1.AccessPoint'
              - type: object
                required:
                - spec
                properties:
                  spec:
                    type: object
                    required:
                    - config
                    - environment
                    - gateway
              - type: object
                properties:
                  spec:
                    type: object
                    properties:
                      environment:
                        example:
                          id: env-00000
                      gateway:
                        example:
                          id: gw-00000
      responses:
        '202':
          description: An Access Point is being created.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests you're permitted to make per time period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
            Location:
              schema:
                type: string
                format: uri
                example: https://api.confluent.cloud/networking/v1/access-points/{id}
              description: AccessPoint resource uri
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/networking.v1.AccessPoint'
                - type: object
                  required:
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - config
                      - environment
                      - gateway
                - type: object
                  properties:
                    spec:
                      type: object
                      properties:
                        environment:
                          example:
                            id: env-00000
                            related: https://api.confluent.cloud/v2/environments/env-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-00000
                        gateway:
                          example:
                            id: gw-00000
                            related: https://api.confluent.cloud/networking/v1/gateways/gw-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-abc123/gateway=gw-00000
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  /networking/v1/access-points/{id}:
    x-lifecycle-stage: General Availability
    x-self-access: true
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      operationId: getNetworkingV1AccessPoint
      summary: Read an Access Point
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to read an access point.'
      parameters:
      - name: environment
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/SearchFilter'
        example: env-00000
        description: Scope the operation to the given environment.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the access point.
      tags:
      - Access Points (networking/v1)
      security:
      - cloud-api-key: []
      - confluent-sts-access-token: []
      responses:
        '200':
          description: Access Point.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/networking.v1.AccessPoint'
                - type: object
                  required:
                  - api_version
                  - kind
                  - id
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - config
                      - environment
                      - gateway
                - type: object
                  properties:
                    spec:
                      type: object
                      properties:
                        environment:
                          example:
                            id: env-00000
                            related: https://api.confluent.cloud/v2/environments/env-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-00000
                        gateway:
                          example:
                            id: gw-00000
                            related: https://api.confluent.cloud/networking/v1/gateways/gw-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-abc123/gateway=gw-00000
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests you're permitted to make per time period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    patch:
      x-lifecycle-stage: General Availability
      x-self-access: true
      operationId: updateNetworkingV1AccessPoint
      summary: Update an Access Point
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to update an access point.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the access point.
      tags:
      - Access Points (networking/v1)
      security:
      - cloud-api-key: []
      - confluent-sts-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/networking.v1.AccessPoint'
              - type: object
                required:
                - spec
                properties:
                  spec:
                    type: object
                    required:
                    - environment
                    properties:
                      environment:
                        example:
                          id: env-00000
      responses:
        '200':
          description: Access Point.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/networking.v1.AccessPoint'
                - type: object
                  required:
                  - api_version
                  - kind
                  - id
                  - spec
                  - status
                  properties:
                    spec:
                      type: object
                      required:
                      - config
                      - environment
                      - gateway
                - type: object
                  properties:
                    spec:
                      type: object
                      properties:
                        environment:
                          example:
                            id: env-00000
                            related: https://api.confluent.cloud/v2/environments/env-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-00000
                        gateway:
                          example:
                            id: gw-00000
                            related: https://api.confluent.cloud/networking/v1/gateways/gw-00000
                            resource_name: https://api.confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-abc123/gateway=gw-00000
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests you're permitted to make per time period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: General Availability
      x-self-access: true
      operationId: deleteNetworkingV1AccessPoint
      summary: Delete an Access Point
      description: '![General Availability](#section/Versioning/API-Lifecycle-Policy)


        Make a request to delete an access point.'
      parameters:
      - name: environment
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/SearchFilter'
        example: env-00000
        description: Scope the operation to the given environment.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the access point.
      tags:
      - Access Points (networking/v1)
      security:
      - cloud-api-key: []
      - confluent-sts-access-token: []
      responses:
        '204':
          description: An Access Point is being deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests you're permitted to make per time period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
components:
  schemas:
    ObjectMeta:
      description: ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.
      required:
      - self
      properties:
        self:
          description: Self is a Uniform Resource Locator (URL) at which an object can be addressed. This URL encodes the service location, API version, and other particulars necessary to locate the resource at a point in time
          type: string
          format: uri
          readOnly: true
          example: https://api.confluent.cloud/v2/kafka-clusters/lkc-f3a90de
        resource_name:
          description: Resource Name is a Uniform Resource Identifier (URI) that is globally unique across space and time. It is represented as a Confluent Resource Name
          type: string
          format: uri
          readOnly: true
          example: crn://confluent.cloud/kafka=lkc-f3a90de
        created_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was created. It is represented in RFC3339 format and is in UTC.
        updated_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was last updated. It is represented in RFC3339 format and is in UTC.
        deleted_at:
          type: string
          format: date-time
          example: '2006-01-02T15:04:05-07:00'
          readOnly: true
          description: The date and time at which this object was (or will be) deleted. It is represented in RFC3339 format and is in UTC.
      readOnly: true
    networking.v1.GcpIngressPrivateServiceConnectEndpointStatus:
      type: object
      description: Status of a GCP Ingress Private Service Connect Endpoint.
      required:
      - kind
      - private_service_connect_service_attachment
      - private_service_connect_connection_id
      properties:
        kind:
          description: GcpIngressPrivateServiceConnectEndpointStatus kind.
          type: string
          enum:
          - GcpIngressPrivateServiceConnectEndpointStatus
        private_service_connect_service_attachment:
          description: URI of the Private Service Connect Service Attachment in Confluent Cloud.
          type: string
          readOnly: true
          example: projects/traffic-prod/regions/us-central1/serviceAttachments/plattg-abc123-service-attachment
        private_service_connect_connection_id:
          description: The ID of the Private Service Connect connection.
          type: string
          readOnly: true
          example: '00000000000000000'
        dns_domain:
          description: DNS domain name used to configure the DNS Zone for the Access Point.
          type: string
          example: ap123abc.us-central1.gcp.accesspoint.confluent.cloud
          readOnly: true
    networking.v1.AzureIngressPrivateLinkEndpointStatus:
      type: object
      description: Status of an Azure Ingress Private Link Endpoint.
      required:
      - kind
      - private_link_service_alias
      - private_link_service_resource_id
      - private_endpoint_resource_id
      properties:
        kind:
          description: AzureIngressPrivateLinkEndpointStatus kind.
          type: string
          enum:
          - AzureIngressPrivateLinkEndpointStatus
        private_link_service_alias:
          description: Alias of the Confluent Cloud Private Link Service.
          type: string
          readOnly: true
          example: plattg-123abc-privatelink.00000000-0000-0000-0000-000000000000.centralus.azure.privatelinkservice
        private_link_service_resource_id:
          description: Resource ID of the Confluent Cloud Private Link Service.
          type: string
          readOnly: true
          example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/plattg-123abc/providers/Microsoft.Network/privateLinkServices/plattg-123abc-privatelink
        private_endpoint_resource_id:
          description: Resource ID of the Private Endpoint used for connecting to the Private Link Service.
          type: string
          readOnly: true
          example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-centralus-rg/providers/Microsoft.Network/privateEndpoints/private-endpoint-azure-centralus
        dns_domain:
          description: DNS domain name used to configure the Private DNS Zone for the Access Point.
          type: string
          example: ap123abc.centralus.azure.accesspoint.confluent.cloud
          readOnly: true
    networking.v1.AwsEgressPrivateLinkEndpoint:
      type: object
      description: AWS VPC Endpoint.
      required:
      - kind
      - vpc_endpoint_service_name
      properties:
        kind:
          type: string
          description: AwsEgressPrivateLinkEndpoint kind.
          enum:
          - AwsEgressPrivateLinkEndpoint
        vpc_endpoint_service_name:
          description: ID of the VPC Endpoint service used for PrivateLink.
          type: string
          minLength: 1
          example: com.amazonaws.vpce.us-west-2.vpce-svc-00000000000000000
        enable_high_availability:
          type: boolean
          description: Whether a resource should be provisioned with high availability. Endpoints deployed with high availability have network interfaces deployed in multiple AZs.
          example: false
          x-immutable: true
        target_system:
          type: string
          description: '[Used by the Confluent Cloud Console] The target system or service that the PrivateLink Endpoint connects to (e.g. "MONGODB" or "SNOWFLAKE").'
          example: S3
    Failure:
      type: object
      description: Provides information about problems encountered while performing an operation.
      required:
      - errors
      properties:
        errors:
          description: List of errors which caused this operation to fail
          type: array
          items:
            $ref: '#/components/schemas/Error'
          uniqueItems: true
    networking.v1.AccessPointList:
      type: object
      description: 'AccessPoint objects represent network connections in and out of Gateways.

        This API allows you to list, create, read, update, and delete your access points.



        ## The Access Points Model

        <SchemaDefinition schemaRef="#/components/schemas/networking.v1.AccessPoint" />'
      required:
      - api_version
      - kind
      - metadata
      - data
      properties:
        api_version:
          type: string
          enum:
          - networking/v1
          description: APIVersion defines the schema version of this representation of a resource.
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          readOnly: true
          enum:
          - AccessPointList
        metadata:
          allOf:
          - $ref: '#/components/schemas/ListMeta'
          - properties:
              first:
                example: https://api.confluent.cloud/networking/v1/access-points
              last:
                example: https://api.confluent.cloud/networking/v1/access-points?page_token=bcAOehAY8F16YD84Z1wT
              prev:
                example: https://api.confluent.cloud/networking/v1/access-points?page_token=YIXRY97wWYmwzrax4dld
              next:
                example: https://api.confluent.cloud/networking/v1/access-points?page_token=UvmDWOB1iwfAIBPj6EYb
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            allOf:
            - $ref: '#/components/schemas/networking.v1.AccessPoint'
            - type: object
              required:
              - id
              - metadata
              - spec
              - status
              properties:
                spec:
                  type: object
                  required:
                  - config
                  - environment
                  - gateway
          uniqueItems: true
    networking.v1.GcpEgressPrivateServiceConnectEndpoint:
      type: object
      description: GCP Private Service Connect Endpoint.
      required:
      - kind
      - private_service_connect_endpoint_target
      properties:
        kind:
          type: string
          description: GcpEgressPrivateServiceConnectEndpoint kind.
          enum:
          - GcpEgressPrivateServiceConnectEndpoint
        private_service_connect_endpoint_target:
          description: URI of the service attachment for the published service that the Private Service Connect Endpoint connects to or "ALL_GOOGLE_APIS" for global Google APIs.
          type: string
          minLength: 1
          example: projects/project-name/regions/us-central1/serviceAttachments/service-attachment-name
        target_system:
          type: string
          description: '[Used by the Confluent Cloud Console] The target system or service that the PrivateLink Endpoint connects to (e.g. "GCS" or "SNOWFLAKE").'
          example: GCS
    networking.v1.AwsIngressPrivateLinkEndpoint:
      type: object
      description: AWS Ingress Private Link Endpoint.
      required:
      - kind
      - vpc_endpoint_id
      properties:
        kind:
          type: string
          description: AwsIngressPrivateLinkEndpoint kind.
          enum:
          - AwsIngressPrivateLinkEndpoint
        vpc_endpoint_id:
          description: ID of a VPC Endpoint that will be connected to the VPC Endpoint service.
          type: string
          minLength: 1
          example: vpce-00000000000000000
          x-immutable: true
    networking.v1.AccessPointSpec:
      type: object
      description: The desired state of the Access Point
      properties:
        display_name:
          type: string
          description: The name of the access point.
          example: prod-ap-egress-usw2
        config:
          type: object
          oneOf:
          - $ref: '#/components/schemas/networking.v1.AwsEgressPrivateLinkEndpoint'
          - $ref: '#/components/schemas/networking.v1.AwsIngressPrivateLinkEndpoint'
          - $ref: '#/components/schemas/networking.v1.AzureEgressPrivateLinkEndpoint'
          - $ref: '#/components/schemas/networking.v1.AzureIngressPrivateLinkEndpoint'
          - $ref: '#/components/schemas/networking.v1.AwsPrivateNetworkInterface'
          - $ref: '#/components/schemas/networking.v1.GcpEgressPrivateServiceConnectEndpoint'
          - $ref: '#/components/schemas/networking.v1.GcpIngressPrivateServiceConnectEndpoint'
          discriminator:
            propertyName: kind
            mapping:
              AwsEgressPrivateLinkEndpoint: '#/components/schemas/networking.v1.AwsEgressPrivateLinkEndpoint'
              AwsIngressPrivateLinkEndpoint: '#/components/schemas/networking.v1.AwsIngressPrivateLinkEndpoint'
              AzureEgressPrivateLinkEndpoint: '#/components/schemas/networking.v1.AzureEgressPrivateLinkEndpoint'
              AzureIngressPrivateLinkEndpoint: '#/components/schemas/networking.v1.AzureIngressPrivateLinkEndpoint'
              AwsPrivateNetworkInterface: '#/components/schemas/networking.v1.AwsPrivateNetworkInterface'
              GcpEgressPrivateServiceConnectEndpoint: '#/components/schemas/networking.v1.GcpEgressPrivateServiceConnectEndpoint'
              GcpIngressPrivateServiceConnectEndpoint: '#/components/schemas/networking.v1.GcpIngressPrivateServiceConnectEndpoint'
          description: The specific details of the different access point configurations.
        environment:
          allOf:
          - $ref: '#/components/schemas/ObjectReference'
          description: The environment to which this belongs.
        gateway:
          allOf:
          - $ref: '#/components/schemas/ObjectReference'
          description: The gateway to which this belongs.
          x-immutable: true
      x-enable-id: true
      x-enable-listmeta: true
      x-enable-objectmeta: true
    networking.v1.AccessPoint:
      type: object
      description: 'AccessPoint objects represent network connections in and out of Gateways.

        This API allows you to list, create, read, update, and delete your access points.



        ## The Access Points Model

        <SchemaDefinition schemaRef="#/components/schemas/networking.v1.AccessPoint" />'
      properties:
        api_version:
          type: string
          enum:
          - networking/v1
          description: APIVersion defines the schema version of this representation of a resource.
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          readOnly: true
          enum:
          - AccessPoint
        id:
          description: ID is the "natural identifier" for an object within its scope/namespace; it is normally unique across time but not space. That is, you can assume that the ID will not be reclaimed and reused after an object is deleted ("time"); however, it may collide with IDs for other object `kinds` or objects of the same `kind` within a different scope/namespace ("space").
          type: string
          maxLength: 255
          readOnly: true
          example: dlz-f3a90de
        metadata:
          allOf:
          - $ref: '#/components/schemas/ObjectMeta'
          - properties:
              self:
                example: https://api.confluent.cloud/networking/v1/access-points/ap-12345
              resource_name:
                example: crn://confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-abc123/gateway=gw-456xyz/access-point=ap-12345
        spec:
          $ref: '#/components/schemas/networking.v1.AccessPointSpec'
        status:
          $ref: '#/components/schemas/networking.v1.AccessPointStatus'
    ListMeta:
      type: object
      description: ListMeta describes metadata that resource collections may have
      properties:
        first:
          description: A link to the first page of results. If a response does not contain a first link, then direct navigation to the first page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds
        last:
          description: A link to the last page of results. If a response does not contain a last link, then direct navigation to the last page is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=bcAOehAY8F16YD84Z1wT
        prev:
          description: A link to the previous page of results. If a response does not contain a prev link, then either there is no previous data or backwards traversal through the result set is not supported.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=YIXRY97wWYmwzrax4dld
        next:
          description: A link to the next page of results. If a response does not contain a next link, then there is no more data available.
          type:
          - string
          - 'null'
          format: uri
          example: https://api.confluent.cloud/v2/resourcekinds?page_token=UvmDWOB1iwfAIBPj6EYb
        total_size:
          description: Number of records in the full result set. This response may be paginated and have a smaller number of records.
          type: integer
          format: int32
          minimum: 0
          example: 123
    networking.v1.AwsIngressPrivateLinkEndpointStatus:
      type: object
      description: Status of an AWS Ingress Private Link Endpoint.
      required:
      - kind
      - vpc_endpoint_service_name
      - vpc_endpoint_id
      properties:
        kind:
          description: AwsIngressPrivateLinkEndpointStatus kind.
          type: string
          enum:
          - AwsIngressPrivateLinkEndpointStatus
        vpc_endpoint_service_name:
          description: ID of the Confluent Cloud VPC Endpoint service used for PrivateLink.
          type: string
          example: com.amazonaws.vpce.us-west-2.vpce-svc-00000000000000000
          readOnly: true
        vpc_endpoint_id:
          description: ID of the VPC Endpoint used for connecting to the VPC Endpoint service.
          type: string
          example: vpce-00000000000000000
          readOnly: true
        dns_domain:
          description: DNS domain name used to configure the Private Hosted Zone for the Access Point.
          type: string
          example: ap123abc.us-west-2.aws.accesspoint.confluent.cloud
          readOnly: true
    networking.v1.AzureEgressPrivateLinkEndpointStatus:
      type: object
      description: Status of an Azure Private Endpoint.
      required:
      - kind
      - private_endpoint_resource_id
      - private_endpoint_ip_address
      properties:
        kind:
          description: AzureEgressPrivateLinkEndpointStatus kind.
          type: string
          enum:
          - AzureEgressPrivateLinkEndpointStatus
        private_endpoint_resource_id:
          description: Resource ID of the Private Endpoint (if any) that is connected to the Private Link service.
          type: string
          readOnly: true
          example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testvpc/providers/Microsoft.Network/privateEndpoints/pe-plt-abcdef-az3
        private_endpoint_domain:
          description: Domain of the Private Endpoint (if any) that is connected to the Private Link service.
          type: string
          readOnly: true
          example: dbname.database.windows.net
        private_endpoint_ip_address:
          description: IP address of the Private Endpoint (if any) that is connected to the Private Link service.
          type: string
          readOnly: true
          example: 10.2.0.68
        private_endpoint_custom_dns_config_domains:
          description: Domains of the Private Endpoint (if any) based off FQDNs in Azure custom DNS configs, which are required in your private DNS setup.
          type: array
          items:
            type: string
          readOnly: true
          example:
          - dbname.database.windows.net
          - dbname-region.database.windows.net
    networking.v1.AzureIngressPrivateLinkEndpoint:
      type: object
      description: Azure Ingress Private Link Endpoint.
      required:
      - kind
      - private_endpoint_resource_id
      properties:
        kind:
          type: string
          description: AzureIngressPrivateLinkEndpoint kind.
          enum:
          - AzureIngressPrivateLinkEndpoint
        private_endpoint_resource_id:
          description: Resource ID of a Private Endpoint that will be connected to the Private Link service.
          type: string
          minLength: 1
          example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-centralus-rg/providers/Microsoft.Network/privateEndpoints/private-endpoint-azure-centralus
          x-immutable: true
    MultipleSearchFilter:
      description: Filter a collection by a string search for one or more values
      type: array
      items:
        type: string
    ObjectReference:
      type: object
      description: ObjectReference provides information for you to locate the referred object
      required:
      - id
      - related
      - resource_name
      properties:
        id:
          type: string
          description: ID of the referred resource
          minLength: 1
          maxLength: 255
        environment:
          type: string
          description: Environment of the referred resource, if env-scoped
          minLength: 1
          maxLength: 255
        related:
          type: string
          format: uri
          description: API URL for accessing or modifying the referred object
          minLength: 1
          readOnly: true
        resource_name:
          type: string
          format: uri
          description: CRN reference to the referred resource
          minLength: 1
          readOnly: true
        api_version:
          type: string
          description: API group and version of the referred resource
          minLength: 1
          readOnly: true
        kind:
          type: string
          description: Kind of the referred resource
          minLength: 1
          readOnly: true
    SearchFilter:
      description: Filter a collection by a string search
      type: string
    networking.v1.AzureEgressPrivateLinkEndpoint:
      type: object
      description: Azure Private Endpoint.
      required:
      - kind
      - private_link_service_resource_id
      properties:
        kind:
          type: string
          description: AzureEgressPrivateLinkEndpoint kind.
          enum:
          - AzureEgressPrivateLinkEndpoint
        private_link_service_resource_id:
          description: Resource ID of the Azure Private Link service.
          type: string
          minLength: 1
          example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/s-abcde/providers/Microsoft.Network/privateLinkServices/pls-plt-abcdef-az3
        private_link_subresource_name:
          type: string
          description: Name of the subresource for the Private Endpoint to connect to.
          example: sqlServer
        target_system:
          type: string
          description: '[Used by the Confluent Cloud Console] The target system or service that the PrivateLink Endpoint connects to (e.g. "MONGODB" or "SNOWFLAKE").'
          example: SNOWFLAKE
    networking.v1.GcpEgressPrivateServiceConnectEndpointStatus:
      type: object
      description: Status of a GCP Private Service Connect Endpoint.
      required:
      - kind
      - private_service_connect_endpoint_connection_id
      - private_service_connect_endpoint_name
      - private_service_connect_endpoint_ip_address
      properties:
        kind:
          description: GcpEgressPrivateServiceConnectEndpointStatus kind.
          type: string
          enum:
          - GcpEgressPrivateServiceConnectEndpointStatus
        private_service_connect_endpoint_connection_id:
          description: Connection ID of the Private Service Connect Endpoint (if any) that is connected to the endpoint target.
          type: string
          readOnly: true
          example: ''
        private_service_connect_endpoint_name:
          description: Name of the Private Service Connect Endpoint (if any) that is connected to the endpoint target.
          type: string
          readOnly: true
          example: plap-123456
        private_service_connect_endpoint_ip_address:
          description: IP address of the Private Service Connect Endpoint (if any) that is connected to the endpoint target.
          type: string
          readOnly: true
          example: 10.2.0.68
    networking.v1.AwsPrivateNetworkInterface:
      type: object
      description: Confluent Private Network Interface powered by AWS ENI.
      required:
      - kind
      properties:
        kind:
          type: string
          description: AwsPrivateNetworkInterface kind.
          enum:
          - AwsPrivateNetworkInterface
        network_interfaces:
          description: List of the IDs of the Elastic Network Interfaces.
          type: array
          items:
            type: string
          uniqueItems: true
          minItems: 51
          example:
          - eni-00000000000000000
          - eni-00000000000000001
          - eni-00000000000000002
          - eni-00000000000000003
          - eni-00000000000000004
          - eni-00000000000000005
          - eni-00000000000000006
          - eni-00000000000000007
          - eni-00000000000000008
          - eni-00000000000000009
          - eni-00000000000000010
          - eni-00000000000000011
          - eni-00000000000000012
          - eni-00000000000000013
          - eni-00000000000000014
          - eni-00000000000000015
          - eni-00000000000000016
          - eni-00000000000000017
          - eni-00000000000000018
          - eni-00000000000000019
          - eni-00000000000000020
          - eni-00000000000000021
          - eni-00000000000000022
          - eni-00000000000000023
          - eni-00000000000000024
          - eni-00000000000000025
          - eni-00000000000000026
          - eni-00000000000000027
          - eni-00000000000000028
          - eni-00000000000000029
          - eni-00000000000000030
          - eni-00000000000000031
          - eni-00000000000000032
          - eni-00000000000000033
          - eni-00000000000000034
          - eni-00000000000000035
          - eni-00000000000000036
          - eni-00000000000000037
          - eni-00000000000000038
          - eni-00000000000000039
          - eni-00000000000000040
          - eni-00000000000000041
          - eni-00000000000000042
          - eni-00000000000000043
          - eni-00000000000000044
          - eni-00000000000000045
          - eni-00000000000000046
          - eni-00000000000000047
          - eni-00000000000000048
          - eni-00000000000000049
          - eni-00000000000000050
        account:
          type: string
          pattern: ^\d{12}$
          example: '000000000000'
          description: The AWS account ID associated with the ENIs you are using for the Confluent Private Network Interface.
          x-immutable: true
        egress_routes:
          type: array
          description: List of egress CIDRs (IPv4) for egress PNI.
          items:
            type: string
          uniqueItems: true
          example:
          - 10.0.0.0/16
          - 10.1.0.0/16
          - 10.2.0.0/16
          - 172.16.0.0/16
    Error:
      type: object
      description: Describes a particular error encountered while performing an operation.
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
          maxLength: 255
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          description: If this error was caused by a particular part of the API request, the source will point to the query string parameter or request body property that caused it.
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/spec" for a spec object, or "/spec/title" for a specific field].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        error_code:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    networking.v1.GcpIngressPrivateServiceConnectEndpoint:
      type: object
      description: GCP Ingress Private Service Connect Endpoint.
      required:
      - kind
      - private_service_connect_connection_id
      properties:
        kind:
          type: string
          description: GcpIngressPrivateServiceConnectEndpoint kind.
          enum:
          - GcpIngressPrivateServiceConnectEndpoint
        private_service_connect_connection_id:
          description: The ID of the Private Service Connect connection.
          type: string
          minLength: 1
          example: '00000000000000000'
    networking.v1.AwsEgressPrivateLinkEndpointStatus:
      type: object
      title: AWS
      description: Status of an AWS PrivateLink Endpoint.
      required:
      - kind
      - vpc_endpoint_id
      - vpc_endpoint_dns_name
      properties:
        kind:
          description: AwsEgressPrivateLinkEndpointStatus kind.
          type: string
          enum:
          - AwsEgressPrivateLinkEndpointStatus
        vpc_endpoint_id:
          description: ID of a VPC Endpoint (if any) that is connected to the VPC Endpoint service.
          type: string
          example: vpce-00000000000000000
          readOnly: true
        vpc_endpoint_dns_name:
          description: DNS name of a VPC Endpoint (if any) that is connected to the VPC Endpoint service.
          type: string
          example: vpce-00000000000000000-00000000.vpce-svc-00000000000000000.us-west-2.vpce.amazonaws.com
          readOnly: true
    networking.v1.AccessPointStatus:
      type: object
      required:
      - phase
      description: The status of the Access Point
      properties:
        phase:
          type: string
          x-extensible-enum:
          - PROVISIONING
          - PENDING_ACCEPT
          - READY
          - FAILED
          - DEPROVISIONING
          - DISCONNECTED
          - DEGRADED
          - ERROR
          description: "The lifecycle phase of the access point:\n\n  PROVISIONING: Access point provisioning is in progress;\n\n  PENDING_ACCEPT: Access point connection request is pending acceptance by the customer;\n\n  READY:  Access point is ready;\n\n  FAILED: Access point is in a failed state;\n\n  DEPROVISIONING: Access point deprovisioning is in progress;\n\n  DISCONNECTED: Access Point has been disconnected in the cloud provider by the customer;\n\n  DEGRADED: Access Point is experiencing reduced performance or partial failure;\n\n  ERROR: Invalid customer input during Access Point creation;\n"
          readOnly: true
          example: READY
        error_code:
          type: string
          description: Error code if access point is in a failed state. May be used for programmatic error checking.
          readOnly: true
        error_message:
          type: string
          description: Displayable error message if access point is in a failed state.
          readOnly: true
        config:
          type: object
          oneOf:
          - $ref: '#/components/schemas/networking.v1.AwsEgressPrivateLinkEndpointStatus'
          - $ref: '#/components/schemas/networking.v1.AwsIngressPrivateLinkEndpointStatus'
          - $ref: '#/components/schemas/networking.v1.AzureEgressPrivateLinkEndpointStatus'
          - $ref: '#/components/schemas/networking.v1.AzureIngressPrivateLinkEndpointStatus'
          - $ref: '#/components/schemas/networking.v1.GcpEgressPrivateServiceConnectEndpointStatus'
          - $ref: '#/components/schemas/networking.v1.GcpIngressPrivateServiceConnectEndpointStatus'
          description: Cloud specific status of the access point.
          discriminator:
            propertyName: kind
            mapping:
              AwsEgressPrivateLinkEndpointStatus: '#/components/schemas/networking.v1.AwsEgressPrivateLinkEndpointStatus'
              AwsIngressPrivateLinkEndpointStatus: '#/components/schemas/networking.v1.AwsIngressPrivateLinkEndpointStatus'
              AzureEgressPrivateLinkEndpointStatus: '#/components/schemas/networking.v1.AzureEgressPrivateLinkEndpointStatus'
              AzureIngressPrivateLinkEndpointStatus: '#/components/schemas/networking.v1.AzureIngressPrivateLinkEndpointStatus'
              GcpEgressPrivateServiceConnectEndpointStatus: '#/components/schemas/networking.v1.GcpEgressPrivateServiceConnectEndpointStatus'
              GcpIngressPrivateServiceConnectEndpointStatus: '#/components/schemas/networking.v1.GcpIngressPrivateServiceConnectEndpointStatus'
          readOnly: true
      readOnly: true
  responses:
    ConflictError:
      x-summary: Conflict
      description: The request is in conflict with the current server state
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        Location:
          schema:
            type: string
            format: uri
            example: https://api.confluent.cloud/{object}/{id}
          description: Resource URI of conflicting resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '409'
              code: resource_already_exists
              title: Resource Already exists
              detail: The entitlement '91e3e86f-fca6-4f14-98f5-a48e64113ce2' already exists.
    UnauthorizedError:
      x-summary: Forbidden
      description: The access credentials were considered insufficient to grant access
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '403'
              code: user_unauthorized
              title: User Access Unauthorized
              detail: The user 'mcfly' is not allowed to access the 'delorean' resource without the 'plutonium' role.
    RateLimitError:
      description: Rate Limit Exceeded
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The maximum number of requests you're permitted to make per time period.
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: The number of requests remaining in the current rate limit window.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        Retry-After:
          schema:
            type: integer
          description: The number of seconds to wait until the rate limit window resets. Only sent when the rate limit is reached.
    UnauthenticatedError:
      x-summary: Unauthorized
      description: The request lacks valid authentication credentials for this resource.
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        WWW-Authenticate:
          schema:
            type: string
          description: The unique identifier for the API request.
          example: Basic error="invalid_key", error_description="The API Key is invalid"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '401'
              code: user_unauthenticated
              title: Authentication Required
              detail: Valid authentication credentials must be provided
    DefaultSystemError:
      description: Oops, something went wrong!
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '500'
              code: out_of_gas
              title: DeLorean Out Of Gas
              detail: The DeLorean has run out of gas, but Doc Brown will fill 'er up for you asap
    NotFoundError:
      description: Not Found
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '404'
              title: Not Found
    BadRequestError:
      description: Bad Request
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '400'
              code: invalid_filter
              title: Invalid Filter
              detail: The 'delorean' resource can't be filtered by 'num_doors'
              source:
                parameter: num_doors
    ValidationError:
      description: Validation Failed
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
            - status: '422'
              code: invalid_configuration
              id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              title: Validation Failed
              detail: 'The property ''/cluster/storage_size'' of type string did not match the following type: integer'
              source:
                pointer: /cluster/storage_size
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
