openapi: 3.2.0
info:
  title: Confluent Cloud Statements (query/v1alpha1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: Statements (query/v1alpha1)
  description: 'Execute SQL statements against queryable topics and read their results. A statement

    that resolves quickly returns its results inline; a long-running one is assigned a

    background job that can be polled for status.'
paths:
  /query/v1alpha1:
    servers:
    - url: https://sql.region.provider.confluent.cloud
      description: SQL Endpoint through Analytics Gateway
    x-lifecycle-stage: Early Access
    post:
      summary: Execute SQL Statement
      description: Executes an arbitrary SQL query against the engine. If the query resolves in under 30 seconds and returns less than 25 MiB, the response will be an inline HTTP 200 OK. Otherwise, a 202 Accepted response redirects the client to retrieve results from a separate streamed data location. Rows are returned as JSON strings by default; set `options.result_format` to `ARROW_STREAM` to receive a base64-encoded Arrow IPC stream with native column types instead.
      operationId: executeQueryV1alpha1Statement
      x-lifecycle-stage: Early Access
      tags:
      - Statements (query/v1alpha1)
      security:
      - resource-api-key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/query.v1alpha1.QueryRequest'
            examples:
              show_tables:
                summary: List the tables in a cluster
                description: 'Metadata is discovered with `SHOW TABLES` and `DESCRIBE`. Both return the same result envelope as `SELECT`.

                  '
                value:
                  catalog_name: env-xyz123
                  database_name: lkc-xyz123
                  query: SHOW TABLES
              describe_table:
                summary: Describe a table's columns
                description: 'Returns one row per column. The values in the `type` column are the CLI/UI rendering of the Flink type — `BYTES`, `STRING`, `ROW<...>` — which is a different rendering of the same type system that `schema.columns[].type` describes as JSON.

                  '
                value:
                  catalog_name: env-xyz123
                  database_name: lkc-xyz123
                  query: DESCRIBE orders
              select_with_limit:
                summary: SELECT with LIMIT
                description: 'Omitting `options.result_format` defaults to `JSON`, returning rows as arrays of JSON strings.

                  '
                value:
                  catalog_name: env-xyz123
                  database_name: lkc-xyz123
                  query: SELECT l_orderkey, l_quantity, l_description FROM "order" LIMIT 5
              select_with_limit_arrow:
                summary: SELECT with LIMIT (Arrow result format)
                description: 'Requests the same rows as a base64-encoded Arrow IPC stream, preserving native column types instead of stringifying them.

                  '
                value:
                  catalog_name: env-xyz123
                  database_name: lkc-xyz123
                  options:
                    result_format: ARROW_STREAM
                  query: SELECT l_orderkey, l_quantity, l_description FROM "order" LIMIT 5
      responses:
        '200':
          description: 'Successful synchronous response containing fully inlined metadata and data results.

            '
          headers:
            X-Request-Id:
              description: Unique identifier for this request, useful for support and debugging
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query.v1alpha1.QueryResponseInline'
              examples:
                select_with_limit:
                  summary: Inline Query Execution Result
                  value:
                    api_version: query/v1alpha1
                    kind: Statement
                    result:
                      result_format: JSON
                      schema:
                        columns:
                        - name: L_ORDERKEY
                          type:
                            type:
                            - BIGINT
                            - 'null'
                        - name: L_QUANTITY
                          type:
                            type:
                            - FLOAT
                            - 'null'
                      data:
                      - - '1'
                        - '17.45'
                select_nested:
                  summary: Inline Query Execution Result (complex columns)
                  description: '`ROW`, `ARRAY`, `MAP` and `MULTISET` columns describe their structure in `schema` and carry their values as nested JSON arrays. Values are positional at every level: names appear only in the schema. The second row shows a SQL NULL `ARRAY` and an empty `MAP`.

                    '
                  value:
                    api_version: query/v1alpha1
                    kind: Statement
                    result:
                      result_format: JSON
                      schema:
                        columns:
                        - name: PK
                          type:
                            type: BIGINT
                        - name: user
                          type:
                            type: ROW
                            fields:
                            - name: USER_ID
                              fieldType:
                                type: VARCHAR
                                length: 2147483647
                            - name: AGE
                              fieldType:
                                type: INTEGER
                        - name: tags
                          type:
                            type:
                            - ARRAY
                            - 'null'
                            elementType:
                              type:
                              - VARCHAR
                              - 'null'
                              length: 2147483647
                        - name: scores
                          type:
                            type:
                            - MAP
                            - 'null'
                            keyType:
                              type: VARCHAR
                              length: 2147483647
                            valueType:
                              type:
                              - INTEGER
                              - 'null'
                      data:
                      - - '912'
                        - - perspiciatis
                          - '49'
                        - - pro
                          - null
                        - - - latency
                            - '42'
                      - - '27994'
                        - - suscipit
                          - '25'
                        - null
                        - []
                describe_table:
                  summary: Inline Query Execution Result (DESCRIBE)
                  description: '`SHOW` and `DESCRIBE` use the same envelope as `SELECT`, with declared column types and every value encoded as a string. Note `"TRUE"` for the `null` column, which is declared `BOOLEAN`.

                    '
                  value:
                    api_version: query/v1alpha1
                    kind: Statement
                    result:
                      result_format: JSON
                      schema:
                        columns:
                        - name: name
                          type:
                            type:
                            - VARCHAR
                            - 'null'
                            length: 2147483647
                        - name: type
                          type:
                            type:
                            - VARCHAR
                            - 'null'
                            length: 2147483647
                        - name: 'null'
                          type:
                            type: BOOLEAN
                        - name: key
                          type:
                            type:
                            - VARCHAR
                            - 'null'
                            length: 2147483647
                        - name: extras
                          type:
                            type:
                            - VARCHAR
                            - 'null'
                            length: 2147483647
                        - name: watermark
                          type:
                            type:
                            - VARCHAR
                            - 'null'
                            length: 2147483647
                      data:
                      - - KEY
                        - BYTES
                        - 'TRUE'
                        - null
                        - null
                        - null
                      - - PK
                        - BIGINT
                        - 'FALSE'
                        - null
                        - null
                        - null
                      - - user
                        - ROW<`USER_ID` STRING, `AGE` INT>
                        - 'FALSE'
                        - null
                        - null
                        - null
                select_with_limit_arrow:
                  summary: Inline Query Execution Result (Arrow)
                  description: 'Returned when the statement requested `result_format: ARROW_STREAM`. Rows are carried as a base64-encoded Arrow IPC stream with native column types; `schema` still describes the columns so clients can inspect the result without decoding the payload.

                    '
                  value:
                    api_version: query/v1alpha1
                    kind: Statement
                    result:
                      result_format: ARROW_STREAM
                      schema:
                        columns:
                        - name: L_ORDERKEY
                          type:
                            type:
                            - BIGINT
                            - 'null'
                        - name: L_QUANTITY
                          type:
                            type:
                            - FLOAT
                            - 'null'
                      data: /////0FSUk9XLUlQQy1TVFJFQU0tUExBQ0VIT0xERVItQllURVM=
        '202':
          description: 'Asynchronous request registration. Returned when data sets exceed 25 MiB or execution times cross the 30s processing barrier.

            '
          headers:
            X-Request-Id:
              description: Unique identifier for this request, useful for support and debugging
              schema:
                type: string
            Location:
              description: Complete URL path indicating where the client can poll for state changes.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query.v1alpha1.QueryResponseAsync'
              examples:
                async_redirect:
                  summary: Async Job Reference Output
                  value:
                    statement_id: statement_1b2c3d4e5f6a
                    result_url: https://sql.region.provider.confluent.cloud/query/v1alpha1/jobs/statement_1b2c3d4e5f6a/results
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  /query/v1alpha1/jobs/{statement_id}/status:
    servers:
    - url: https://sql.region.provider.confluent.cloud
      description: SQL Endpoint through Analytics Gateway
    x-lifecycle-stage: Early Access
    get:
      summary: Query Async Job Status
      description: Returns status updates containing the explicit operational lifecycle states of an active background query.
      operationId: getQueryV1alpha1JobStatus
      x-lifecycle-stage: Early Access
      tags:
      - Statements (query/v1alpha1)
      security:
      - resource-api-key: []
      parameters:
      - name: statement_id
        in: path
        required: true
        description: The target unique identifier of the background operational query process.
        schema:
          type: string
          maxLength: 255
      responses:
        '200':
          description: State evaluated successfully.
          headers:
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query.v1alpha1.JobStatusResponse'
              examples:
                job_running:
                  summary: Statement still running
                  value:
                    status:
                      phase: RUNNING
                job_completed:
                  summary: Statement completed successfully
                  value:
                    status:
                      phase: COMPLETED
                job_failed:
                  summary: Statement failed
                  value:
                    status:
                      phase: FAILED
                    errors:
                    - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
                      status: '200'
                      code: FE_STATEMENT_FAILED
                      title: Statement Failed
                      detail: The statement exceeded the maximum execution time.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
components:
  schemas:
    query.v1alpha1.ColumnDetails:
      type: object
      description: A column in the result schema.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The name of the SQL result column.
        type:
          description: The logical type of the column.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.DataType'
    query.v1alpha1.JobStatus:
      type: object
      description: The status of the background statement.
      required:
      - phase
      properties:
        phase:
          type: string
          x-extensible-enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - FAILED
          description: 'The lifecycle phase of the background statement:


            PENDING: statement is queued and has not started executing;


            RUNNING: statement execution is in progress;


            COMPLETED: statement finished successfully and its results are retrievable;


            FAILED: statement execution failed; see `errors` for details.

            '
          example: RUNNING
          readOnly: true
    query.v1alpha1.ResultValue:
      description: "One value within a `JSON` result row.\n\nScalar values are JSON strings encoded according to the declaring column's\n`DataType.type`. JSON `null` is SQL NULL, at any depth.\n\nComplex values are JSON arrays whose elements are themselves `ResultValue`s:\n\n- `ROW` — a positional array with one element per entry of the type's `fields`,\n  in the same order. Field names are never repeated inline; recovering them\n  requires the schema.\n- `ARRAY` — one element per collection element, in order.\n- `MAP` and `MULTISET` — an array of two-element `[key, value]` arrays.\n\nA complex value that is itself SQL NULL is JSON `null`, which is distinct from\nan array whose elements are null.\n\nCanonical scalar encodings:\n\n| `DataType.type` | Encoding |\n| --- | --- |\n| `NULL` | JSON `null` |\n| `BOOLEAN` | `\"TRUE\"` or `\"FALSE\"`, upper case |\n| `TINYINT`, `SMALLINT`, `INTEGER`, `BIGINT` | base-10 integer string, optional leading `-` |\n| `FLOAT`, `DOUBLE` | shortest round-trip decimal string, in exponent notation where Java would use it |\n| `DECIMAL` | plain decimal string with exactly `scale` fractional digits, no exponent |\n| `CHAR`, `VARCHAR` | the string value verbatim, UTF-8 |\n| `BINARY`, `VARBINARY` | hexadecimal literal, for example `\"x'7f0203'\"` |\n| `DATE` | `YYYY-MM-DD` |\n| `TIME_WITHOUT_TIME_ZONE` | `HH:MM:SS[.fff]` |\n| `TIMESTAMP_WITHOUT_TIME_ZONE` | `YYYY-MM-DD HH:MM:SS[.fff]`, space separated |\n| `TIMESTAMP_WITH_TIME_ZONE` | `YYYY-MM-DD HH:MM:SS[.fff]`, rendered in UTC. Flink's `TIMESTAMP_LTZ` is reported under this name; the instant is stored as UTC and the zone is metadata only, so no offset is emitted |\n| `INTERVAL_YEAR_MONTH` | `+YYYY-MM` |\n| `INTERVAL_DAY_TIME` | `+D HH:MM:SS.fff` |\n\nThese render SQL values, not API datetime or numeric fields — each format follows\nthe column's declared SQL type and matches Confluent Flink's documented value\nencodings, so one decoder serves both surfaces. `TIMESTAMP` therefore uses a space\nseparator rather than RFC 3339's `T`.\n\nThese encodings apply only when `result_format` is `JSON`. Under\n`ARROW_STREAM` values are carried natively, with `ROW` mapping to an Arrow\nstruct, `ARRAY` and `MULTISET` to a list, and `MAP` to a map.\n"
      anyOf:
      - type:
        - string
        - 'null'
      - type:
        - array
        - 'null'
        items:
          $ref: '#/components/schemas/query.v1alpha1.ResultValue'
    Failure:
      type: object
      description: Provides information about problems encountered while performing an operation.
      required:
      - errors
      properties:
        errors:
          description: List of errors which caused this operation to fail
          type: array
          items:
            $ref: '#/components/schemas/Error'
          uniqueItems: true
    query.v1alpha1.QueryOptions:
      type: object
      description: 'Settings that tune how this query is handled. Omitted fields fall back to service defaults.

        '
      properties:
        max_result_rows:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
          description: Maximum rows to return up to configured limit.
        result_format:
          type: string
          x-extensible-enum:
          - JSON
          - ARROW_STREAM
          default: JSON
          description: 'Encoding for the returned rows, echoed back as `result.result_format`. `JSON` returns `result.data` as an array of rows, requiring clients to coerce values using `result.schema`. `ARROW_STREAM` returns `result.data` as a base64-encoded Arrow IPC stream, preserving native column types. Inline `ARROW_STREAM` payloads are size-capped; larger results are delivered through the asynchronous 202 flow.

            '
    query.v1alpha1.JobStatusResponse:
      type: object
      description: Lifecycle state of a statement running in the background.
      required:
      - status
      properties:
        status:
          description: The status of the background statement.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.JobStatus'
        errors:
          type: array
          description: 'Failure details for the background statement. Populated only when `status.phase` is `FAILED`; omitted otherwise.

            '
          uniqueItems: true
          items:
            $ref: '#/components/schemas/Error'
    query.v1alpha1.QueryRequest:
      type: object
      required:
      - catalog_name
      - database_name
      - query
      description: Request parameters for query analysis and extraction.
      properties:
        catalog_name:
          type: string
          description: Confluent Cloud environment ID (e.g., env-xyz123)
        database_name:
          type: string
          description: Kafka cluster ID (e.g., lkc-xyz123)
        options:
          description: Options for this query.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.QueryOptions'
        query:
          type: string
          description: SQL query to execute
        client_info:
          type: object
          additionalProperties:
            type: string
          description: 'Free-form client metadata for telemetry and debugging (e.g., client_name, client_version, driver_version). Values are strings; not interpreted by the server.

            '
    query.v1alpha1.QueryResponseAsync:
      type: object
      description: Reference pointers issued when standard executions run asynchronously.
      required:
      - statement_id
      - result_url
      properties:
        statement_id:
          type: string
          maxLength: 255
          description: Unique identifier generated to trace the decoupled tracking process.
        result_url:
          type: string
          format: uri
          description: The streaming data target location where finished row sets can be downloaded.
    query.v1alpha1.QueryResponseInline:
      type: object
      description: Response structure returned directly for fast inline extractions.
      required:
      - api_version
      - kind
      - result
      properties:
        api_version:
          type: string
          x-extensible-enum:
          - query/v1alpha1
          readOnly: true
          description: APIVersion defines the schema version of this representation of a resource.
        kind:
          type: string
          x-extensible-enum:
          - Statement
          readOnly: true
          description: Kind defines the object this REST resource represents.
        result:
          description: The schema and data produced by the statement.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.QueryResult'
    query.v1alpha1.DataType:
      type: object
      required:
      - type
      - nullable
      description: 'Flink logical type descriptor, mirroring `DataType` in the Flink Gateway API.

        Complex types nest recursively: `elementType`, `keyType`, `valueType` and

        `fields[].fieldType` are themselves `DataType` objects, so `ROW`, `ARRAY`,

        `MAP` and `MULTISET` nest to arbitrary depth.


        The value of `type` determines which parameter properties are present; all

        others are absent.


        | `type` | Parameters |

        | --- | --- |

        | `BOOLEAN`, `TINYINT`, `SMALLINT`, `INTEGER`, `BIGINT`, `FLOAT`, `DOUBLE`, `DATE`, `NULL` | none |

        | `CHAR`, `VARCHAR`, `BINARY`, `VARBINARY` | `length` |

        | `DECIMAL` | `precision`, `scale` |

        | `TIME_WITHOUT_TIME_ZONE`, `TIMESTAMP_WITHOUT_TIME_ZONE`, `TIMESTAMP_WITH_TIME_ZONE` | `precision` |

        | `INTERVAL_YEAR_MONTH` | `precision`, `resolution` |

        | `INTERVAL_DAY_TIME` | `precision`, `fractionalPrecision`, `resolution` |

        | `ARRAY`, `MULTISET` | `elementType` |

        | `MAP` | `keyType`, `valueType` |

        | `ROW` | `fields` |

        '
      properties:
        type:
          type: string
          description: The Flink logical type name of the column or field.
        nullable:
          type: boolean
          description: Whether values of this column or field can be null.
        length:
          type: integer
          format: int32
          description: 'Declared length of `CHAR`, `VARCHAR`, `BINARY` and `VARBINARY`. Unbounded `VARCHAR` and `VARBINARY` report 2147483647.

            '
        precision:
          type: integer
          format: int32
          description: 'Declared precision of `DECIMAL`, the `TIME`/`TIMESTAMP` types and the `INTERVAL_*` types.

            '
        scale:
          type: integer
          format: int32
          description: Declared scale of `DECIMAL`.
        keyType:
          description: Key type of a `MAP`.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.DataType'
        valueType:
          description: Value type of a `MAP`.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.DataType'
        elementType:
          description: Element type of an `ARRAY` or `MULTISET`.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.DataType'
        fields:
          type: array
          description: Fields of a `ROW`, in declaration order.
          items:
            $ref: '#/components/schemas/query.v1alpha1.RowFieldType'
        resolution:
          type: string
          description: 'Interval resolution, for example `YEAR_TO_MONTH` for `INTERVAL_YEAR_MONTH` or `DAY_TO_SECOND` for `INTERVAL_DAY_TIME`.

            '
        fractionalPrecision:
          type: integer
          format: int32
          description: Fractional-second precision of `INTERVAL_DAY_TIME`.
        class_name:
          type: string
          description: 'Class name of a structured type. Present in the Flink type model; the engine does not currently emit structured types.

            '
    Error:
      type: object
      description: Describes a particular error encountered while performing an operation.
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
          maxLength: 255
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          description: If this error was caused by a particular part of the API request, the source will point to the query string parameter or request body property that caused it.
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. "/spec" for a spec object, or "/spec/title" for a specific field].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        error_code:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    query.v1alpha1.ResultRow:
      type: array
      description: 'A single result row — column values ordered to match `schema.columns`. Rows carry no changelog operation marker: this API returns a point-in-time snapshot rather than a changelog stream, so there are no retractions to express.

        '
      items:
        $ref: '#/components/schemas/query.v1alpha1.ResultValue'
    query.v1alpha1.ResultSchema:
      type: object
      description: The table columns of the result schema.
      required:
      - columns
      properties:
        columns:
          type: array
          description: 'Column definitions in result order, matching the order of values within each row.

            '
          items:
            $ref: '#/components/schemas/query.v1alpha1.ColumnDetails'
    query.v1alpha1.QueryResult:
      type: object
      description: 'Query result containing schema metadata and row data.


        This envelope is the same for every statement kind. `SHOW` and `DESCRIBE` return declared column types in `schema` and string-encoded values in `data` exactly as `SELECT` does, so a client needs only one result reader and never has to branch on the statement it sent.

        '
      required:
      - result_format
      - schema
      - data
      properties:
        result_format:
          type: string
          x-extensible-enum:
          - JSON
          - ARROW_STREAM
          readOnly: true
          description: 'Encoding of `data`, echoing the `options.result_format` requested on the statement.

            '
        schema:
          description: Column metadata describing the shape of the returned rows.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.ResultSchema'
        data:
          description: 'Result rows in the encoding named by `result_format`: an array of rows for `JSON`, where each row is a positional array of column values ordered to match `schema.columns`; or a base64-encoded Arrow IPC stream for `ARROW_STREAM`, carrying native column types rather than stringified values. Inline Arrow payloads are size-capped by the service; larger results are delivered through the asynchronous 202 flow.


            Under `JSON`, individual values — including those of complex `ROW`, `ARRAY`, `MAP` and `MULTISET` columns — are encoded as described by `ResultValue`.

            '
          oneOf:
          - type: array
            items:
              $ref: '#/components/schemas/query.v1alpha1.ResultRow'
          - type: string
            format: byte
    query.v1alpha1.RowFieldType:
      type: object
      required:
      - name
      - fieldType
      description: 'One field of a `ROW`. Field names are carried here, in the schema only — never inline with the row values.

        '
      properties:
        name:
          type: string
          description: The name of the field.
        fieldType:
          description: The data type of the field.
          allOf:
          - $ref: '#/components/schemas/query.v1alpha1.DataType'
        description:
          type: string
          description: Optional field comment from the type declaration.
  responses:
    UnauthorizedError:
      x-summary: Forbidden
      description: The access credentials were considered insufficient to grant access
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '403'
              code: user_unauthorized
              title: User Access Unauthorized
              detail: The user 'mcfly' is not allowed to access the 'delorean' resource without the 'plutonium' role.
    RateLimitError:
      description: Rate Limit Exceeded
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: The maximum number of requests you're permitted to make per time period.
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: The number of requests remaining in the current rate limit window.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: "The relative time in seconds until the current rate-limit window resets.  \n  \n**Important:** This differs from Github and Twitter's same-named header which uses UTC epoch seconds. We use relative time to avoid client/server time synchronization issues."
        Retry-After:
          schema:
            type: integer
          description: The number of seconds to wait until the rate limit window resets. Only sent when the rate limit is reached.
    UnauthenticatedError:
      x-summary: Unauthorized
      description: The request lacks valid authentication credentials for this resource.
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
        WWW-Authenticate:
          schema:
            type: string
          description: The unique identifier for the API request.
          example: Basic error="invalid_key", error_description="The API Key is invalid"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '401'
              code: user_unauthenticated
              title: Authentication Required
              detail: Valid authentication credentials must be provided
    DefaultSystemError:
      description: Oops, something went wrong!
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '500'
              code: out_of_gas
              title: DeLorean Out Of Gas
              detail: The DeLorean has run out of gas, but Doc Brown will fill 'er up for you asap
    NotFoundError:
      description: Not Found
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '404'
              title: Not Found
    BadRequestError:
      description: Bad Request
      headers:
        X-Request-Id:
          schema:
            type: string
          description: The unique identifier for the API request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Failure'
          example:
            errors:
            - id: ed42afdc-f0d5-4c0d-b428-9fc6ed6e279d
              status: '400'
              code: invalid_filter
              title: Invalid Filter
              detail: The 'delorean' resource can't be filtered by 'num_doors'
              source:
                parameter: num_doors
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
