openapi: 3.2.0
info:
  title: Confluent Cloud Types (v1) API
  version: ''
  x-api-id: 46234552-5833-42eb-ba0f-883ad3f70d2b
  x-audience: external-public
  x-logo:
    url: https://assets.confluent.io/m/1661ef5e4ff82d3d/
  description: '# Introduction


    Note


    This documents the collection of Confluent Cloud APIs.'
servers:
- url: https://api.confluent.cloud
  description: Confluent Cloud API
tags:
- name: Types (v1)
  description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


    The API allows you to create, retrieve, update, and delete catalog types such as tag definitions.


    Related guide: Catalog API Documentation.'
paths:
  /catalog/v1/types/businessmetadatadefs:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    get:
      summary: Bulk Read Business Metadata Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk retrieval API for retrieving business metadata definitions.'
      operationId: getAllBusinessMetadataDefs
      tags:
      - Types (v1)
      parameters:
      - description: The prefix of a business metadata definition name
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BusinessMetadataDefResponse'
                type: array
          description: The business metadata definitions
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    post:
      summary: Bulk Create Business Metadata Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk create API for business metadata definitions.'
      operationId: createBusinessMetadataDefs
      tags:
      - Types (v1)
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BusinessMetadataDef'
              type: array
        description: The business metadata definitions to create
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BusinessMetadataDefResponse'
                type: array
          description: The business metadata definitions. Errored business metadata definitions will have an additional error property.
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    put:
      summary: Bulk Update Business Metadata Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk update API for business metadata definitions.'
      operationId: updateBusinessMetadataDefs
      tags:
      - Types (v1)
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BusinessMetadataDef'
              type: array
        description: The business metadata definitions to update
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BusinessMetadataDefResponse'
                type: array
          description: The business metadata definitions. Errored business metadata definitions will have an additional error property.
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
  /catalog/v1/types/businessmetadatadefs/{bmName}:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    delete:
      summary: Delete Business Metadata Definition
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Delete API for business metadata definition identified by its name.'
      operationId: deleteBusinessMetadataDef
      tags:
      - Types (v1)
      parameters:
      - description: The name of the business metadata definition
        explode: false
        in: path
        name: bmName
        required: true
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    get:
      summary: Read Business Metadata Definition
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Get the business metadata definition with the given name.'
      operationId: getBusinessMetadataDefByName
      tags:
      - Types (v1)
      parameters:
      - description: The name of the business metadata definition
        explode: false
        in: path
        name: bmName
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetadataDef'
          description: The business metadata definition
        '400':
          description: Bad Request
        '404':
          description: Business metadata definition not found
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
  /catalog/v1/types/tagdefs:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    get:
      summary: Bulk Read Tag Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk retrieval API for retrieving tag definitions.'
      operationId: getAllTagDefs
      parameters:
      - name: prefix
        in: query
        description: The prefix of a tag definition name
        schema:
          type: string
      tags:
      - Types (v1)
      responses:
        '200':
          description: The tag definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDefResponse'
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    put:
      summary: Bulk Update Tag Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk update API for tag definitions.'
      tags:
      - Types (v1)
      operationId: updateTagDefs
      requestBody:
        description: The tag definitions to update
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagDef'
      responses:
        '200':
          description: The tag definitions. Errored tag definitions will have an additional error property.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDefResponse'
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    post:
      summary: Bulk Create Tag Definitions
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Bulk create API for tag definitions.'
      tags:
      - Types (v1)
      operationId: createTagDefs
      requestBody:
        description: The tag definitions to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagDef'
      responses:
        '200':
          description: The tag definitions. Errored tag definitions will have an additional error property.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDefResponse'
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
  /catalog/v1/types/tagdefs/{tagName}:
    servers:
    - url: https://psrc-00000.region.provider.confluent.cloud
      description: Confluent Cloud Schema Registry Endpoint. For example https://psrc-00000.region.provider.confluent.cloud
    get:
      summary: Read Tag Definition
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Get the tag definition with the given name.'
      operationId: getTagDefByName
      parameters:
      - name: tagName
        in: path
        description: The name of the tag definiton
        required: true
        schema:
          type: string
      tags:
      - Types (v1)
      responses:
        '200':
          description: The tag definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDef'
        '400':
          description: Bad Request
        '404':
          description: Tag definition not found
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
    delete:
      summary: Delete Tag Definition
      description: '![Generally Available](#section/Versioning/API-Lifecycle-Policy)


        Delete API for tag definition identified by its name.'
      operationId: deleteTagDef
      parameters:
      - name: tagName
        in: path
        description: The name of the tag definition
        required: true
        schema:
          type: string
      tags:
      - Types (v1)
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '429':
          description: Rate Limit Error
        '500':
          description: Internal Server Error
components:
  schemas:
    BusinessMetadataDefResponse:
      properties:
        category:
          enum:
          - PRIMITIVE
          - OBJECT_ID_TYPE
          - ENUM
          - STRUCT
          - CLASSIFICATION
          - ENTITY
          - ARRAY
          - MAP
          - RELATIONSHIP
          - BUSINESS_METADATA
          type: string
          description: The category
        guid:
          type: string
          description: The internal guid
        createdBy:
          type: string
          description: The creator
        updatedBy:
          type: string
          description: The updater
        createTime:
          format: int64
          type: integer
          description: The create time
        updateTime:
          format: int64
          type: integer
          description: The update time
        version:
          format: int32
          type: integer
          description: The version
        name:
          type: string
          description: The name
        description:
          type: string
          description: The description
        typeVersion:
          type: string
          description: The type version
        serviceType:
          type: string
          description: The service type
        options:
          additionalProperties:
            type: string
          type: object
          description: The options
        attributeDefs:
          items:
            $ref: '#/components/schemas/AttributeDef'
          type: array
          description: The attribute definitions
        error:
          $ref: '#/components/schemas/ErrorMessage'
      type: object
    BusinessMetadataDef:
      properties:
        category:
          enum:
          - PRIMITIVE
          - OBJECT_ID_TYPE
          - ENUM
          - STRUCT
          - CLASSIFICATION
          - ENTITY
          - ARRAY
          - MAP
          - RELATIONSHIP
          - BUSINESS_METADATA
          type: string
          description: The category
        guid:
          type: string
          description: The internal guid
        createdBy:
          type: string
          description: The creator
        updatedBy:
          type: string
          description: The updater
        createTime:
          format: int64
          type: integer
          description: The create time
        updateTime:
          format: int64
          type: integer
          description: The update time
        version:
          format: int32
          type: integer
          description: The version
        name:
          type: string
          description: The name
        description:
          type: string
          description: The description
        typeVersion:
          type: string
          description: The type version
        serviceType:
          type: string
          description: The service type
        options:
          additionalProperties:
            type: string
          type: object
          description: The options
        attributeDefs:
          items:
            $ref: '#/components/schemas/AttributeDef'
          type: array
          description: The attribute definitions
      type: object
    TagDefResponse:
      type: object
      properties:
        category:
          type: string
          description: The category
          enum:
          - PRIMITIVE
          - OBJECT_ID_TYPE
          - ENUM
          - STRUCT
          - CLASSIFICATION
          - ENTITY
          - ARRAY
          - MAP
          - RELATIONSHIP
          - BUSINESS_METADATA
        guid:
          type: string
          description: The internal guid
        createdBy:
          type: string
          description: The creator
        updatedBy:
          type: string
          description: The updater
        createTime:
          type: integer
          description: The create time
          format: int64
        updateTime:
          type: integer
          description: The update time
          format: int64
        version:
          type: integer
          description: The version
          format: int32
        name:
          type: string
          description: The name
        description:
          type: string
          description: The description
        typeVersion:
          type: string
          description: The type version
        serviceType:
          type: string
          description: The service type
        options:
          type: object
          description: The options
          additionalProperties:
            type: string
        attributeDefs:
          type: array
          description: The attribute definitions
          items:
            $ref: '#/components/schemas/AttributeDef'
        superTypes:
          uniqueItems: true
          type: array
          description: The supertypes
          items:
            type: string
        entityTypes:
          uniqueItems: true
          type: array
          description: The entity types
          items:
            type: string
        subTypes:
          uniqueItems: true
          type: array
          description: The subtypes
          items:
            type: string
        error:
          $ref: '#/components/schemas/ErrorMessage'
    ErrorMessage:
      type: object
      properties:
        error_code:
          type: integer
          description: The error code
          format: int32
        message:
          type: string
          description: The error message
      description: Error message of this operation
    AttributeDef:
      type: object
      properties:
        name:
          type: string
          description: The name
        typeName:
          type: string
          description: The type name
        isOptional:
          type: boolean
          description: Whether is optional
        cardinality:
          type: string
          description: The cardinality
          enum:
          - SINGLE
          - LIST
          - SET
        valuesMinCount:
          type: integer
          description: The values min count
          format: int32
        valuesMaxCount:
          type: integer
          description: The values max count
          format: int32
        isUnique:
          type: boolean
          description: Whether is unique
        isIndexable:
          type: boolean
          description: Whether is indexable
        includeInNotification:
          type: boolean
          description: Whether to include in notifications
        defaultValue:
          type: string
          description: The default value
        description:
          type: string
          description: The description
        searchWeight:
          type: integer
          description: The search weight
          format: int32
        indexType:
          type: string
          description: The index type
          enum:
          - DEFAULT
          - STRING
        constraints:
          type: array
          description: The constraints
          items:
            $ref: '#/components/schemas/ConstraintDef'
        options:
          type: object
          description: The options
          additionalProperties:
            type: string
        displayName:
          type: string
          description: The display name
    ConstraintDef:
      type: object
      properties:
        type:
          type: string
          description: The type
        params:
          type: object
          description: The params
          additionalProperties:
            type: object
    TagDef:
      type: object
      properties:
        category:
          type: string
          description: The category
          enum:
          - PRIMITIVE
          - OBJECT_ID_TYPE
          - ENUM
          - STRUCT
          - CLASSIFICATION
          - ENTITY
          - ARRAY
          - MAP
          - RELATIONSHIP
          - BUSINESS_METADATA
        guid:
          type: string
          description: The internal guid
        createdBy:
          type: string
          description: The creator
        updatedBy:
          type: string
          description: The updater
        createTime:
          type: integer
          description: The create time
          format: int64
        updateTime:
          type: integer
          description: The update time
          format: int64
        version:
          type: integer
          description: The version
          format: int32
        name:
          type: string
          description: The name
        description:
          type: string
          description: The description
        typeVersion:
          type: string
          description: The type version
        serviceType:
          type: string
          description: The service type
        options:
          type: object
          description: The options
          additionalProperties:
            type: string
        attributeDefs:
          type: array
          description: The attribute definitions
          items:
            $ref: '#/components/schemas/AttributeDef'
        superTypes:
          uniqueItems: true
          type: array
          description: The supertypes
          items:
            type: string
        entityTypes:
          uniqueItems: true
          type: array
          description: The entity types
          items:
            type: string
        subTypes:
          uniqueItems: true
          type: array
          description: The subtypes
          items:
            type: string
  securitySchemes:
    cloud-api-key:
      type: http
      scheme: basic
      description: Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password.
    confluent-sts-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    global-api-key:
      type: http
      scheme: basic
      description: Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password.
    resource-api-key:
      type: http
      scheme: basic
      description: Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password.
    external-access-token:
      type: oauth2
      description: Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.
      flows:
        clientCredentials:
          tokenUrl: https://api.confluent.cloud/sts/v1/oauth2/token
          scopes: {}
    oauth:
      type: oauth2
      description: Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partner:alter: enables partners to alter entitlements
            partner:create: enables partners to create entitlements and signup on behalf of customers
            partner:delete: enables partners to delete entitlements and organizations
            partner:describe: enables partners to read and list entitlements and organizations
x-tagGroups:
- name: Identity Access Management (v2)
  tags:
  - API Keys (iam/v2)
  - Users (iam/v2)
  - Service Accounts (iam/v2)
  - Invitations (iam/v2)
  - IP Groups (iam/v2)
  - IP Filters (iam/v2)
  - IP Filter Summaries (iam/v2)
  - Role Bindings (iam/v2)
  - Identity Providers (iam/v2)
  - Jwks (iam/v2)
  - Identity Pools (iam/v2)
  - Group Mappings (iam/v2/sso)
  - Certificate Authorities (iam/v2)
  - Certificate Identity Pools (iam/v2)
- name: Org API (v2)
  tags:
  - Environments (org/v2)
  - Organizations (org/v2)
- name: Notifications API (v1)
  tags:
  - Subscriptions (notifications/v1)
  - Integrations (notifications/v1)
  - Notification Types (notifications/v1)
  - Resource Preferences (notifications/v1)
  - Resource Subscriptions (notifications/v1)
  - User Notifications (notifications/v1)
- name: Cluster Mgmt for Kafka (v2)
  tags:
  - Clusters (cmk/v2)
- name: Cluster Mgmt for ksqlDB (v2)
  tags:
  - Clusters (ksqldbcm/v2)
- name: Connect API (v1)
  tags:
  - Connectors (connect/v1)
  - Lifecycle (connect/v1)
  - Status (connect/v1)
  - Managed Connector Plugins (connect/v1)
  - Offsets (connect/v1)
  - Custom Connector Plugins (connect/v1)
  - Presigned Urls (connect/v1)
  - Custom Connector Runtimes (connect/v1)
- name: Connect Artifact Management (v1)
  tags:
  - Connect Artifacts (cam/v1)
  - Presigned Urls (cam/v1)
- name: Kafka API (v3)
  tags:
  - Cluster (v3)
  - Configs (v3)
  - ACL (v3)
  - Consumer Group (v3)
  - Partition (v3)
  - Topic (v3)
  - Records (v3)
  - Cluster Linking (v3)
  - Share Group (v3)
  - Streams Group (v3)
- name: Service Quota API (v1)
  tags:
  - Applied Quotas (service-quota/v1)
  - Scopes (service-quota/v1)
- name: Partner API (v2)
  tags:
  - Entitlements (partner/v2)
  - Organizations (partner/v2)
  - Signup (partner/v2)
- name: Cluster Mgmt for Schema Registry (v2)
  tags:
  - Regions (srcm/v2)
  - Clusters (srcm/v2)
- name: Cluster Mgmt for Schema Registry (v3)
  tags:
  - Clusters (srcm/v3)
- name: Schema Registry API (v1)
  tags:
  - Compatibility (v1)
  - Config (v1)
  - Contexts (v1)
  - Exporters (v1)
  - Modes (v1)
  - Schemas (v1)
  - Subjects (v1)
  - Key Encryption Keys (v1)
  - Data Encryption Keys (v1)
- name: Catalog API (v1)
  tags:
  - Entity (v1)
  - Search (v1)
  - Types (v1)
- name: Stream Sharing API (v1)
  tags:
  - Provider Shared Resources (cdx/v1)
  - Provider Shares (cdx/v1)
  - Consumer Shared Resources (cdx/v1)
  - Consumer Shares (cdx/v1)
  - Shared Tokens (cdx/v1)
  - Opt Ins (cdx/v1)
- name: Networking (v1)
  tags:
  - Networks (networking/v1)
  - Peerings (networking/v1)
  - Transit Gateway Attachments (networking/v1)
  - Private Link Accesses (networking/v1)
  - Network Link Services (networking/v1)
  - Network Link Endpoints (networking/v1)
  - Network Link Service Associations (networking/v1)
  - IP Addresses (networking/v1)
  - Private Link Attachments (networking/v1)
  - Private Link Attachment Connections (networking/v1)
  - DNS Forwarders (networking/v1)
  - Access Points (networking/v1)
  - DNS Records (networking/v1)
  - Gateways (networking/v1)
- name: Security Token Service (v1)
  tags:
  - OAuth Tokens (sts/v1)
- name: Kafka Quota (v1)
  tags:
  - Client Quotas (kafka-quotas/v1)
- name: Bring Your Own Key (BYOK) Management (v1)
  tags:
  - Keys (byok/v1)
- name: Billing API (v1)
  tags:
  - Costs (billing/v1)
- name: Compute Pool Mgmt for Flink (v2)
  tags:
  - Compute Pools (fcpm/v2)
  - Regions (fcpm/v2)
  - Org Compute Pool Configs (fcpm/v2)
- name: SQL API (v1)
  tags:
  - Statements (sql/v1)
  - Statement Results (sql/v1)
  - Statement Exceptions (sql/v1)
  - Connections (sql/v1)
  - Agents (sql/v1)
  - Tools (sql/v1)
  - Materialized Tables (sql/v1)
  - Materialized Table Versions (sql/v1)
- name: Provider Integration Management (v1)
  tags:
  - Integrations (pim/v1)
- name: Provider Integration Management (v2)
  tags:
  - Integrations (pim/v2)
- name: Artifact API (v1)
  tags:
  - Flink Artifacts (artifact/v1)
  - Presigned Urls (artifact/v1)
  - Flink Artifact Versions (artifact/v1)
- name: Custom Code Logging API (v1)
  tags:
  - Custom Code Loggings (ccl/v1)
- name: Tableflow (v1)
  tags:
  - Regions (tableflow/v1)
  - Tableflow Topics (tableflow/v1)
  - Catalog Integrations (tableflow/v1)
- name: Custom Connect Plugin Management (v1)
  tags:
  - Custom Connect Plugins (ccpm/v1)
  - Presigned Urls (ccpm/v1)
  - Custom Connect Plugin Versions (ccpm/v1)
- name: Unified Stream Manager (v1)
  tags:
  - Kafka Clusters (usm/v1)
  - Connect Clusters (usm/v1)
- name: Endpoint (v1)
  tags:
  - Endpoints (endpoint/v1)
- name: Real Time Context Engine (v1)
  tags:
  - Rtce Topics (rtce/v1)
  - Regions (rtce/v1)
- name: Analytics (v1alpha1)
  tags:
  - Statements (query/v1alpha1)
